/*
Author: WE-Three
Author URL: http://we3uk.com
/* reset */
@font-face {
    font-family: 'We3-font';
    src: url(../fonts/Panton.otf);
}

@font-face {
    font-family: 'We3-font-bold';
    src: url(../fonts/Panton-Bold.otf);
}

@font-face {
    font-family: 'we3-font-semibold';
    src: url(../fonts/Panton-SemiBold.otf);
}

@font-face {
    font-family: 'We3-font-extralight';
    src: url(../fonts/Panton-ExtraLight.otf);
}

@font-face {
    font-family: 'We3-font-light';
    src: url(../fonts/Panton-Light.otf);
}

html {
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav,
section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
    color: #fff;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
body {
}

body.quote {
    font-family: "We3-font-semibold";
    background: transparent url("../images/slider-img.png") no-repeat fixed center center / cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.slider-shadow {
    background-color: rgba(56, 59, 59, 0.75);
    background-size: 100% 100%;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
}

.timeline .wrap {
    min-height: 300px;
}

.header-top {
    padding: 7% 0 0% 0%;
}

.logo {
    float: left;
    width: 13.5%;
    margin-top: -1.5%;
}

.logo img {
    max-width: 172px;
}

a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

/* start h_menu */
.h_menu4 {
    float: right;
}

.toggleMenu {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    width: 100%;
    color: #fff;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    width: 9em;
}

.nav li a {
    display: block;
    padding: 10px 20px 40px 20px;
    color: #fff;
    font-size: 18px;
    font-family: "we3-font-semibold";
}

.nav li {
    position: relative;
}

.nav li.active a, .nav li a:hover {

}

.nav > li {
    float: left;
}

.nav > li > a.parent {
    background: url(../images/plus.png) no-repeat right top 16px;
}

.nav > li > a:hover {
    color: #f37021;
    background-color: transparent;
}

.nav li ul {
    position: absolute;
    left: -9999px;
}

.nav > li.hover > ul {
    left: 0px;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.nav li li a {
    font-size: 0.8725em;
    padding: 10px;
    display: block;
    color: #fff;
    background: rgba(73, 93, 137, 0.56);
    position: relative;
    z-index: 9999;
    border-top: 1px solid rgba(233, 233, 233, 0.09);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li li li a {
    background: #249578;
    z-index: 200;
    border-top: 1px solid #1d7a62;
}

.nav li li a:hover {
    background: #FAA645;
    color: #fff;
    border-bottom: none;
}

.da-slider {
    height: 400px;
}

/*--content--*/
.main {
    background: #fff;
}

.timeline .main {
    background-color: #d7d7d7;
}

h2.m_1 {
    font-size: 24px;
    line-height: 1.5em;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: #2a2e2e;
    padding: 5% 0px 7%;
    font-family: "we3-font-semibold";
    text-transform: uppercase;
}

#map {
    width: 425px;
    height: 247px;
    border-radius: 20px;
    float: right;
    margin-right: 7%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
}

#map1 > .gm-style > div, #map1 > .gm-style > div > div {
    overflow: hidden;
    border-radius: 20px;
}

.footer h2.m_1 {
    font-size: 24px;
    line-height: 1.5em;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    padding: 5% 0px 7%;
    font-family: "we3-font-semibold";
    text-transform: uppercase;
}

.desc {
    text-align: center;
    padding: 8%;
}

.desc h3 {
    color: #2a2e2e;
    font-size: 19px;
    margin-bottom: 5%;
    font-family: "We3-font-light";
    font-weight: bold;
}

.desc p {
    color: #555;
    font-size: 1em;
    line-height: 1.5em;
}

.col-lg-4 ul li,
.col-md-4 ul li,
.col-sm-12 ul li,
.col-xs-12 ul li {
    color: #2A2E2E;
    font-size: 15px;
    background-image: url("../images/bullet-style.png");
    line-height: 65px;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    font-family: "we3-font";
    text-align: center;
}

.col-lg-4 img,
.col-md-4 img,
.col-sm-12 img,
.col-xs-12 img {
    display: block;
    width: 282px;
    margin: 0px auto;
    margin-bottom: 4%;
    height: 155px;
}

.col-lg-4 h3,
.col-md-4 h3,
.col-sm-12 h3,
.col-xs-12 h3 {
    color: #2a2e2e;
    font-size: 19px;
    margin-bottom: 5%;
    font-family: "We3-font-light";
    font-weight: bold;
    text-align: center;
}

p.price {
    margin-top: -35px;
    color: #f37021;
}

.summ {
    text-align: center;
    background-color: #252525;
    width: 210px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.total-price-h1 {
    color: #2a2e2e;
    text-align: center;
    font-size: 24px;
    margin-top: 8%;
    font-family: "We3-font-Light";
    margin-bottom: 2%;
}

.total-price {
    background-color: #f37021;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: "We3-font-SemiBold";
    border-radius: 50px;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 15%;
}

.desc ul li {
    color: #2A2E2E;
    font-size: 15px;
    background-image: url("../images/bullet-style.png");
    line-height: 65px;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    font-family: "we3-font";
}

/*--content-middle--*/
.col_1_of_middle:first-child {
    margin-left: 0;
}

.span_1_of_middle {
    width: 100%;
}

.col_1_of_middle {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}

.m_3 {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 1.7em;
    padding: 5% 0;
    color: rgb(255, 255, 255);
    width: 80%;
    margin: 0px auto;
    height: 250px;
}

span.left_line {
    height: 3px;
    width: 503px;
    display: block;
    /*background: url(../images/border1.png) no-repeat 0px 0px;*/
    position: absolute;
    left: 0%;
    bottom: 75px;
}

span.right_line {
    height: 3px;
    width: 503px;
    display: block;
    /*background: url(../images/border1.png) no-repeat 0px 0px;*/
    position: absolute;
    right: 0%;
    bottom: 75px;
}

.span_1_of_middle h3 {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 2%;
    font-family: "we3-font-semibold";
    text-transform: none;
}

.span_1_of_middle p {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 2%;
    font-family: "we3-font-semibold";
    text-transform: none;
}

.btn {
    margin-top: 5%;
    width: 64%;
    border-radius: 20px;
    color: white;
    background-color: #f37021;
    border: none;
    /* border-top: 1px solid #fff; */
    /* box-shadow: 1px 2px 1px rgba(0,0,0,0.5); */
    font-family: "We3-font";
    font-size: 17px;
    /*float: right;*/
}

.btn a {
    border: none;
    font-weight: 100;
    color: #FFF;
    cursor: pointer;
    padding: 15px 50px;
    display: inline-block;
    font-size: 1em;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background: #FFA540;
}

.btn a:hover {
    background: #F1962F;
}

.skills {
    width: 100%;
    margin: 10px 0;
    background-color: #D7DEE0;
    height: 10px;
}

.skills > div {
    height: 100%;
    display: block;
    background-color: #ffa540;
}

.content-middle-bottom {
    padding: 5% 0 0 0;
    width: 80%;
    margin: 0px auto;
}

ul.progress.vertical {
    position: relative;
    width: 65px;
    min-height: 330px;
    float: left;
    margin-right: 50px;
    background: #ffa540;
}

li.bar {
    background: #eee;
    width: 50px;
    position: absolute;
}

li.bar1 {
    background: #eee;
    height: 50%;
    width: 50px;
    position: absolute;
}

/*--projects--*/
.col_1_of_projects:first-child {
    margin-left: 0;
}

.span_1_of_projects {
    width: 22.8%;
}

.col_1_of_projects {
    display: block;
    float: left;
    margin: 1% 0 1% 2.6%;
}

.view {
    width: 290px;
    height: 350px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.view .mask, .view .content {
    width: 290px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    cursor: pointer;
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.info:hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

h3.m_4 {
    text-align: center;
    padding: 5% 0;
}

h3.m_4 a {
    color: #555;
    text-transform: uppercase;
    font-size: 1em;
}

h3.m_4 a:hover {
    color: #FFA540;
}

p.m_5 {
    text-align: center;
    color: #999;
    font-size: 0.85em;
}

.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(219, 127, 8, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.span_1_of_projects img {
    display: block;
}

/*--testimonials--*/
.wmuSlider {
    position: relative;
    overflow: hidden;
    padding: 0 0 8% 0;
}

.wmuSlider .wmuSliderWrapper article {
    position: relative;
    text-align: center;
}

.wmuSlider .wmuSliderWrapper article img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
}

.wmuGallery .wmuGalleryImage img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.wmuSliderPagination {
    z-index: 2;
    position: absolute;
    left: 46%;
    bottom: 50px;
}

.wmuSliderPagination li {
    float: left;
    margin: 0 2px 0 0;
    list-style-type: none;
}

.wmuSliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    background: #ffa540;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 3px;
}

.wmuSliderPagination a.wmuActive {
    background: #eee;
    width: 15px;
    height: 15px;
}

.banner-text {
    width: 75%;
    margin: 0 auto;
}

.banner-text p {
    color: #555;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 3%;
}

h3.m_6 {
    color: #000;
    font-size: 1em;
    border-top: 1px solid #F0f0f0;
    width: 17%;
    margin: 0 auto;
    padding-top: 2%;
}

span.bg1 {
    color: #999;
}

/*--footer--*/
.footer {
    background: #252525;
    padding: 3% 0;
}

.footer-grid {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-left: -3%;
}

.footer-grid2 {
    float: right;
}

.location-map iframe {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.footer-grid1 p, .footer-grid2 p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    font-family: 'We3-font';
}

.f-logo {
    margin-bottom: 1%;
}

.footer-grid2 h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 1.5em;
}

.footer-grid2 ul li label {
    color: #FFF;
    font-size: 0.875em;
}

.extra-wrap {
    overflow: hidden;
}

.quote .da-slide h1 {
    position: absolute;
    margin-top: 0;
    color: #dd7711;
}

.client p {
    float: left;
    margin-bottom: 10px;
    text-align: left;
}

p.name {
    text-align: left !important;
    height: 35px !important;
    width: 100% !important;
}

p.company {
    text-align: left !important;
    height: 35px !important;
    width: 100% !important;
    margin-top: 45px !important;
}

p.email {
    text-align: left !important;
    height: 35px !important;
    width: 100% !important;
    margin-top: 85px !important;
}

p.phone {
    text-align: left !important;
    height: 35px !important;
    width: 100% !important;
    margin-top: 125px !important;
}

.footer .row .extra-wrap p {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-family: "We3-font";
    font-size: 15px;
}

.footer .row button.btn.btn-default,
.footer .row input[type="submit"].btn.btn-default{
    width: 90%;
    font-size: 19px;
    margin-top: 0;
    border-radius: 20px;
    color: white;
    background-color: #f37021;
    border: none;
    font-family: "We3-font";
    margin-bottom: 2%;
    transition: all 0.5s ease;
}

button:disabled,
input:disabled{
    cursor: not-allowed !important;
}

.footer .row button.btn.btn-default:hover,
.footer .row input[type="submit"].btn.btn-default:hover{
    background-color: #d35011;
}

#message-textarea {
    height: 245px;
    border-radius: 20px;
    width: 90%;
    margin-top: 2%;
    resize: none;
    transition: all 2s ease;
}

#message-textarea:focus {
    border: 1px solid #E51;
    box-shadow: inset 0 0 10px #E51;
}

.footer .row ul li {
    width: 33%;
    float: left;
    margin-bottom: 4%;
}

.footer-grid2 ul {
    width: 100%;
    margin-left: 20%;
}

.footer-grid2 ul li {
    margin-bottom: 4%;
    width: 23%;
    float: left;
    margin-right: 3%;
}

.footer-grid2 ul li img {
    width: 54px;
}

.foot-img {
    margin: 0px auto;
    width: 55px;
}

.extra-wrap1 p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-family: 'We3-font';
}

.extra-wrap1 p:hover {
    text-decoration: underline;
}

.recent-tweet {
    margin-bottom: 1em;
}

.recent-tweet-icon {
    float: left;
    width: 10%;
    margin-top: 3%;
}

.recent-tweet-icon span {
    width: 20px;
    height: 20px;
    display: block;
    background: url(../images/img-sprite.png) no-repeat -136px -111px;
}

.recent-tweet-info p {
    color: #919295;
    font-size: 0.875em;
    line-height: 1.5em;
}

.footer-grid3 h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 1.2em;
}

.recent-tweet-info {
    float: right;
    width: 88%;
}

.recent-tweet-info a {
    display: block;
    color: #919295;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-style: italic;
}

.recent-tweet-info a:hover {
    color: #FFA540;
}

.footer-grid4 h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 0.5em;
}

.footer-grid4 p {
    color: #919295;
    font-size: 0.875em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.footer-grid4 input[type="text"] {
    background: #353b47;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: none;
    font-family: 'Lato', sans-serif;
    outline: none;
    font-size: 12px;
    padding: 8px;
    color: #757679;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    width: 61%;
}

.footer-grid4 input[type="submit"] {
    background: url(../images/img-sprite.png) no-repeat -194px -101px #ffa540;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    border: none;
    padding: 7px 25px;
    position: absolute;
    left: 200px;
    cursor: pointer;
    color: #FFF;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.footer-grid4 input[type="submit"]:hover {
    background: url(../images/img-sprite.png) no-repeat -230px -101px #fff;
}

.footer-grid4 {
    position: relative;
    margin-right: 0;
}

.footer-bottom {
    background: #101010;
    padding: 1% 0;
}

.copy {
    float: left;
}

.copy p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.copy p a {
    color: #444343;
    text-decoration: underline;
    font-size: 11px;
    font-family: "We3-font-semibold";
}

.copy p a:hover {
    color: #919295;
}

.social {
    float: right;
    width: 100%;
    margin-top: 200px;
}

.social p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: "We3-font";
    padding-bottom: 15px;
    width: 100%;
    float: left;
    margin: 0 auto;
}

.footer p {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: "We3-font";
    padding: 16px 12px 12px 12px;
}

.social ul {
    width: 100%;
    margin: 0px auto;
}

.social ul li:last-child {
    margin-right: 0px;
}

li.facebook a span {
    margin: 0 auto;
    height: 26px;
    width: 53px;
    display: block;
    background: url('../images/fb-ico.png');
}

li.facebook a span:hover {
    background: url('../images/fb-ico-h.png');
}

li.linkedin a span {
    margin: 0 auto;
    height: 26px;
    width: 53px;;
    display: block;
    background: url('../images/in-ico.png')
}

li.linkedin a span:hover {
    background: url('../images/in-ico-h.png')
}

li.twitter a span:hover {
    background: url('../images/twitter-ico-h.png')
}

li.twitter a span {
    margin: 0 auto;
    height: 26px;
    width: 53px;
    display: block;
    background: url('../images/twitter-ico.png')
}

/*--pages--*/
.span_2_of_g1 {
    width: 73.1%;
}

.cont1 {
    display: block;
    float: left;
}

.col_1_of_about-box:first-child {
    margin-left: 0;
}

.col_1_of_about-box {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}

.span_1_of_about-box {
    width: 30.5%;
}

.span_1_of_g1 {
    width: 24.2%;
}

.labout {
    display: block;
    float: left;
    margin: 0 0 0 2.6%;
}

.gallery li {
    float: left;
    display: inline;
    width: 31.5%;
    margin-right: 2%;
    background: #FFF;
    border: 1px solid #f0f0f0;
}

.gallery li.last {
    margin: 0 0 30px 0;
}

.gallery li h3 {
    padding: 5%;
    color: #555;
    font-size: 1em;
}

.gallery li a img {
    display: block;
}

.project-list h4, .project-list1 h4, .project-list2 h4 {
    font-size: 1.4em;
    color: #555;
    margin-bottom: 7%;
    text-transform: uppercase;
}

ul.blog-list {
    width: 50%;
    float: left;
}

.project-list li, .project-list1 li {
    margin-bottom: 20px;
}

.project-list li img, .project-list1 li img {
    float: left;
    margin-right: 20px;
}

ul.blog-list li {
    list-style-image: url(../images/arrow.png);
    margin: 0 35px 10px;
}

ul.blog-list li a {
    font-size: 0.9em;
    color: #555;
    vertical-align: super;
}

ul.blog-list li a:hover {
    color: #000;
}

.pages {
    padding: 5% 0;
}

.project-list1 {
    padding-top: 10%;
}

.project-list2 {
    padding-top: 10%;
}

.project-list2 li {
    float: left;
    background: #FFA540;
    padding: 5px;
    margin: 2px;
}

.project-list2 li a {
    color: #000;
    text-transform: uppercase;
    font-size: 0.89em;
}

.project-list2 li a:hover {
    color: #fff;
}

ul.dc_pagination {
    text-align: center;
    overflow: hidden;
    margin: 3% 0 2% 0;
}

ul.dc_pagination li:first-child {
    margin-left: 0px;
    margin-right: 5%;
    text-transform: uppercase;
}

ul.dc_pagination li {
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

ul.dc_pagination li a {
    color: #555;
    display: block;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    font-size: 1.1em;
}

ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
    background: #FFA540;
    color: #FFF;
}

/*--single--*/
p.m_10 {
    font-size: 0.85em;
    color: #555;
    line-height: 1.8em;
    padding: 2% 0;
}

p.m_11 {
    font-size: 0.85em;
    color: #555;
    line-height: 1.8em;
}

.btn1 {
    padding-top: 3%;
}

.btn1 a {
    background: #FFA540;
    font-size: 1.2em;
    padding: 18px 50px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    float: left;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.btn1 a:hover {
    background: #555;
}

#menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 20px; */
    background: rgba(0, 0, 0, 0.90);
    height: auto;
    max-height: 200px;
    min-height: 160px;
    margin-top: -4.5%;
    z-index: 9999;
    transition: all 550ms ease;
}

.centred-menu {
    width: 100%;
    max-width: 1273px;
    margin: 0 auto;
}

/*--portfolio--*/
.gallery1 li {
    float: left;
    display: inline;
    width: 31.8%;
    margin-right: 2%;
    border: 1px solid #f0f0f0;
    background: #FFF;
}

.gallery1 li a img {
    display: block;
}

.gallery1 li.last {
    margin-right: 0;
}

.gallery1 li h3 {
    padding: 5%;
    color: #555;
    font-size: 1em;
}

.gallery1 li.last {
    margin: 0 0 30px 0;
}

/*--contact--*/
.form-control {
    width: 64%;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
    box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.5);
    border: none;
    font-family: Arial;
    font-size: 13px;
    /*float: right;*/
    margin-bottom: 2%;
}

#message-textarea {
    height: 120px;
    padding-top: 10px;
}

.to input[type="text"] {
    padding: 20px 9px;
    width: 48%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    border: 1px solid #E1E2E2;
    color: #555;
    background: #FFF;
    float: left;
    outline: none;
}

.text input[type="text"], .text textarea {
    width: 98.3%;
    font-size: 1em;
    margin: 10px 0;
    border: 1px solid #E1E2E2;
    color: #555;
    font-family: 'Lato', sans-serif;
    outline: none;
    margin-bottom: 25px;
    height: 150px;
    padding: 20px 9px;
}

.contatct-top input[type="submit"] {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding: 20px 60px;
    text-transform: uppercase;
    background: #FFA540;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: 100;
    border: none;
    cursor: pointer;
}

.contatct-top input[type="submit"]:hover {
    background: #555;
}

.map {
    padding-top: 4%;
}

p.m_12 {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
    color: #555;
    margin-bottom: 2%;
}

.m_contact {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #777;
    font-size: 1.7em;
    padding: 5% 0 3%;
}

.contact {
    padding-bottom: 5%;
}

/*--responsive design--*/

.client_info_label {
    display: inline-block;
    color: #F37021;
    width: 170px;
    font-size: 17px;
}

.client_info_data {
    display: inline-block;
    font-size: 17px;
}

@media (max-width: 640px) {
    .footer .wrap ul {
        float: right;
        width: 90%;
    }

    .footer .row ul li {
        width: 95%;
        margin: 0 auto;
        float: right;
        margin-top: 3%;
    }
}

a#confirm-complaint {
    color: #F37021;
}
a#confirm-complaint:hover {
    color: #E35011;
    cursor: pointer;
}
