@font-face{font-family:'We3-font';src:url(../fonts/Panton.otf);}
@font-face{font-family:'We3-font-bold';src:url(../fonts/Panton-Bold.otf);}
@font-face{font-family:'we3-font-semibold';src:url(../fonts/Panton-SemiBold.otf);}
@font-face{font-family:'We3-font-extralight';src:url(../fonts/Panton-ExtraLight.otf);}
@font-face{font-family:'We3-font-light';src:url(../fonts/Panton-Light.otf);}
.da-slider{width:100%;height:500px;position:relative;overflow:hidden;background:url(../images/slider-bg.png);-webkit-transition:background-position 1s ease-out 0.3s;-moz-transition:background-position 1s ease-out 0.3s;-o-transition:background-position 1s ease-out 0.3s;-ms-transition:background-position 1s ease-out 0.3s;transition:background-position 1s ease-out 0.3s;text-align:center;}
.da-slide{position:absolute;width:100%;height:100%;top:-30px;left:0px;text-align:left;}
.da-slide-current{z-index:1000;}
.da-slider-fb .da-slide{left:100%;}
.da-slider-fb .da-slide.da-slide-current{left:0px;}
.da-slide h1,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{position:absolute;opacity:0;/*left:110%;*/}
.da-slider-fb .da-slide h1,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{left:10%;opacity:1;}
.da-slider-fb .da-slide .da-img{left:60%;opacity:1;}
.da-slide h1{font-family:"We3-font-Light";color:#FFF;width:100%;top:120px;font-size:45px;z-index:10;text-align:center;margin-bottom:5%;}
.da-slide p{top:230px;color:#FFFFFF;font-size:2em;font-weight:100;height:80px;overflow:hidden;line-height:29px;text-align:center;margin:0 auto;width:77%;}
.da-img{display:none;}
.da-slide .da-img{text-align:center;width:30%;top:51px;height:256px;line-height:320px;/*left:110%;*/}
.da-slide .da-link{background:#F37021 none repeat scroll 0% 0%;font-size:18px;padding:18px 50px;color:#FFF;cursor:pointer;outline:medium none;position:absolute;bottom:10px;margin-left:40%;text-transform:uppercase;font-weight:100;border-radius:50px;font-family:"We3-font-semibold";-webkit-border-radius:50px;-moz-border-radius:50px;-o-border-radius:50px;}
.da-link:hover{background:#f37021;}
.da-arrows{-moz-user-select:none;-webkit-user-select:none;}
.da-arrows span{position:absolute;top:40%;cursor:pointer;z-index:2000;opacity:0;height:60px;width:40px;-webkit-transition:opacity 0.4s ease-in-out-out 0.2s;-moz-transition:opacity 0.4s ease-in-out-out 0.2s;-o-transition:opacity 0.4s ease-in-out-out 0.2s;-ms-transition:opacity 0.4s ease-in-out-out 0.2s;transition:opacity 0.4s ease-in-out-out 0.2s;}
.da-arrows-prev{background:url(../images/img-sprite.png) no-repeat -20px 0px;}
.da-arrows-next{background:url(../images/img-sprite.png) no-repeat -75px 0px;}
.da-slider:hover .da-arrows span{opacity:1;}
.da-arrows span:after{content:'';position:absolute;width:20px;height:20px;top:5px;left:5px;background:transparent url(../images/arrows.png) no-repeat top left;border-radius:50%;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
.da-arrows span:hover:after{box-shadow:1px 1px 4px rgba(0,0,0,0.3);}
.da-arrows span:active:after{box-shadow:1px 1px 1px rgba(255,255,255,0.1);}
.da-arrows span.da-arrows-next:after{background-position:top right;}
.da-arrows span.da-arrows-prev{left:15px;}
.da-arrows span.da-arrows-next{right:15px;}
.da-slide-current h1,
.da-slide-current p,
.da-slide-current .da-link{/*left:0;*/opacity:1;margin: 0 auto;}
.da-slide-current .da-img{left:60%;opacity:1;}
.da-slide-fromright h1{-webkit-animation:fromRightAnim1 0.6s ease-in-out 0.8s both;-moz-animation:fromRightAnim1 0.6s ease-in-out 0.8s both;-o-animation:fromRightAnim1 0.6s ease-in-out 0.8s both;-ms-animation:fromRightAnim1 0.6s ease-in-out 0.8s both;animation:fromRightAnim1 0.6s ease-in-out 0.8s both;}
.da-slide-fromright p{-webkit-animation:fromRightAnim2 0.6s ease-in-out 0.8s both;-moz-animation:fromRightAnim2 0.6s ease-in-out 0.8s both;-o-animation:fromRightAnim2 0.6s ease-in-out 0.8s both;-ms-animation:fromRightAnim2 0.6s ease-in-out 0.8s both;animation:fromRightAnim2 0.6s ease-in-out 0.8s both;}
.da-slide-fromright .da-link{-webkit-animation:fromRightAnim3 0.4s ease-in-out 1.2s both;-moz-animation:fromRightAnim3 0.4s ease-in-out 1.2s both;-o-animation:fromRightAnim3 0.4s ease-in-out 1.2s both;-ms-animation:fromRightAnim3 0.4s ease-in-out 1.2s both;animation:fromRightAnim3 0.4s ease-in-out 1.2s both;}
.da-slide-fromright .da-img{-webkit-animation:fromRightAnim4 0.6s ease-in-out 0.8s both;-moz-animation:fromRightAnim4 0.6s ease-in-out 0.8s both;-o-animation:fromRightAnim4 0.6s ease-in-out 0.8s both;-ms-animation:fromRightAnim4 0.6s ease-in-out 0.8s both;animation:fromRightAnim4 0.6s ease-in-out 0.8s both;}
@-webkit-keyframes fromRightAnim1{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-webkit-keyframes fromRightAnim2{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-webkit-keyframes fromRightAnim3{0%{left:110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-webkit-keyframes fromRightAnim4{0%{left:110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@-moz-keyframes fromRightAnim1{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-moz-keyframes fromRightAnim2{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-moz-keyframes fromRightAnim3{0%{left:110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-moz-keyframes fromRightAnim4{0%{left:110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@-o-keyframes fromRightAnim1{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-o-keyframes fromRightAnim2{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-o-keyframes fromRightAnim3{0%{left:110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-o-keyframes fromRightAnim4{0%{left:110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@-ms-keyframes fromRightAnim1{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-ms-keyframes fromRightAnim2{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-ms-keyframes fromRightAnim3{0%{left:110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-ms-keyframes fromRightAnim4{0%{left:110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@keyframes fromRightAnim1{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@keyframes fromRightAnim2{0%{left:110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@keyframes fromRightAnim3{0%{left:110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@keyframes fromRightAnim4{0%{left:110%;opacity:0;}
100%{left:60%;opacity:1;}
}
.da-slide-fromleft h1{-webkit-animation:fromLeftAnim1 0.6s ease-in-out 0.6s both;-moz-animation:fromLeftAnim1 0.6s ease-in-out 0.6s both;-o-animation:fromLeftAnim1 0.6s ease-in-out 0.6s both;-ms-animation:fromLeftAnim1 0.6s ease-in-out 0.6s both;animation:fromLeftAnim1 0.6s ease-in-out 0.6s both;}
.da-slide-fromleft p{-webkit-animation:fromLeftAnim2 0.6s ease-in-out 0.6s both;-moz-animation:fromLeftAnim2 0.6s ease-in-out 0.6s both;-o-animation:fromLeftAnim2 0.6s ease-in-out 0.6s both;-ms-animation:fromLeftAnim2 0.6s ease-in-out 0.6s both;animation:fromLeftAnim2 0.6s ease-in-out 0.6s both;}
.da-slide-fromleft .da-link{-webkit-animation:fromLeftAnim3 0.4s ease-in-out 1.2s both;-moz-animation:fromLeftAnim3 0.4s ease-in-out 1.2s both;-o-animation:fromLeftAnim3 0.4s ease-in-out 1.2s both;-ms-animation:fromLeftAnim3 0.4s ease-in-out 1.2s both;animation:fromLeftAnim3 0.4s ease-in-out 1.2s both;}
.da-slide-fromleft .da-img{-webkit-animation:fromLeftAnim4 0.6s ease-in-out 0.6s both;-moz-animation:fromLeftAnim4 0.6s ease-in-out 0.6s both;-o-animation:fromLeftAnim4 0.6s ease-in-out 0.6s both;-ms-animation:fromLeftAnim4 0.6s ease-in-out 0.6s both;animation:fromLeftAnim4 0.6s ease-in-out 0.6s both;}
@-webkit-keyframes fromLeftAnim1{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-webkit-keyframes fromLeftAnim2{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-webkit-keyframes fromLeftAnim3{0%{left:-110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-webkit-keyframes fromLeftAnim4{0%{left:-110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@-moz-keyframes fromLeftAnim1{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-moz-keyframes fromLeftAnim2{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-moz-keyframes fromLeftAnim3{0%{left:-110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-moz-keyframes fromLeftAnim4{0%{left:-110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@-o-keyframes fromLeftAnim1{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-o-keyframes fromLeftAnim2{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-o-keyframes fromLeftAnim3{0%{left:-110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-o-keyframes fromLeftAnim4{0%{left:-110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@-ms-keyframes fromLeftAnim1{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-ms-keyframes fromLeftAnim2{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-ms-keyframes fromLeftAnim3{0%{left:-110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@-ms-keyframes fromLeftAnim4{0%{left:-110%;opacity:0;}
100%{left:60%;opacity:1;}
}
@keyframes fromLeftAnim1{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@keyframes fromLeftAnim2{0%{left:-110%;opacity:0;}
100%{left:10%;opacity:1;}
}
@keyframes fromLeftAnim3{0%{left:-110%;opacity:0;}
1%{left:10%;opacity:0;}
100%{left:10%;opacity:1;}
}
@keyframes fromLeftAnim4{0%{left:-110%;opacity:0;}
100%{left:60%;opacity:1;}
}
.da-slide-toright h1{-webkit-animation:toRightAnim1 0.6s ease-in-out 0.6s both;-moz-animation:toRightAnim1 0.6s ease-in-out 0.6s both;-o-animation:toRightAnim1 0.6s ease-in-out 0.6s both;-ms-animation:toRightAnim1 0.6s ease-in-out 0.6s both;animation:toRightAnim1 0.6s ease-in-out 0.6s both;}
.da-slide-toright p{-webkit-animation:toRightAnim2 0.6s ease-in-out 0.3s both;-moz-animation:toRightAnim2 0.6s ease-in-out 0.3s both;-o-animation:toRightAnim2 0.6s ease-in-out 0.3s both;-ms-animation:toRightAnim2 0.6s ease-in-out 0.3s both;animation:toRightAnim2 0.6s ease-in-out 0.3s both;}
.da-slide-toright .da-link{-webkit-animation:toRightAnim3 0.4s ease-in-out both;-moz-animation:toRightAnim3 0.4s ease-in-out both;-o-animation:toRightAnim3 0.4s ease-in-out both;-ms-animation:toRightAnim3 0.4s ease-in-out both;animation:toRightAnim3 0.4s ease-in-out both;}
.da-slide-toright .da-img{-webkit-animation:toRightAnim4 0.6s ease-in-out both;-moz-animation:toRightAnim4 0.6s ease-in-out both;-o-animation:toRightAnim4 0.6s ease-in-out both;-ms-animation:toRightAnim4 0.6s ease-in-out both;animation:toRightAnim4 0.6s ease-in-out both;}
@-webkit-keyframes toRightAnim1{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-webkit-keyframes toRightAnim2{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-webkit-keyframes toRightAnim3{0%{left:10%;opacity:1;}
99%{left:10%;opacity:0;}
100%{left:100%;opacity:0;}
}
@-webkit-keyframes toRightAnim4{0%{left:60%;opacity:1;}
30%{left:55%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-moz-keyframes toRightAnim1{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-moz-keyframes toRightAnim2{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-moz-keyframes toRightAnim3{0%{left:10%;opacity:1;}
99%{left:10%;opacity:0;}
100%{left:100%;opacity:0;}
}
@-moz-keyframes toRightAnim4{0%{left:60%;opacity:1;}
30%{left:55%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-o-keyframes toRightAnim1{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-o-keyframes toRightAnim2{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-o-keyframes toRightAnim3{0%{left:10%;opacity:1;}
99%{left:10%;opacity:0;}
100%{left:100%;opacity:0;}
}
@-o-keyframes toRightAnim4{0%{left:60%;opacity:1;}
30%{left:55%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-ms-keyframes toRightAnim1{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-ms-keyframes toRightAnim2{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@-ms-keyframes toRightAnim3{0%{left:10%;opacity:1;}
99%{left:10%;opacity:0;}
100%{left:100%;opacity:0;}
}
@-ms-keyframes toRightAnim4{0%{left:60%;opacity:1;}
30%{left:55%;opacity:1;}
100%{left:100%;opacity:0;}
}
@keyframes toRightAnim1{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@keyframes toRightAnim2{0%{left:10%;opacity:1;}
100%{left:100%;opacity:0;}
}
@keyframes toRightAnim3{0%{left:10%;opacity:1;}
99%{left:10%;opacity:0;}
100%{left:100%;opacity:0;}
}
@keyframes toRightAnim4{0%{left:60%;opacity:1;}
30%{left:55%;opacity:1;}
100%{left:100%;opacity:0;}
}
.da-slide-toleft h1{-webkit-animation:toLeftAnim1 0.6s ease-in-out both;-moz-animation:toLeftAnim1 0.6s ease-in-out both;-o-animation:toLeftAnim1 0.6s ease-in-out both;-ms-animation:toLeftAnim1 0.6s ease-in-out both;animation:toLeftAnim1 0.6s ease-in-out both;}
.da-slide-toleft p{-webkit-animation:toLeftAnim2 0.6s ease-in-out 0.3s both;-moz-animation:toLeftAnim2 0.6s ease-in-out 0.3s both;-o-animation:toLeftAnim2 0.6s ease-in-out 0.3s both;-ms-animation:toLeftAnim2 0.6s ease-in-out 0.3s both;animation:toLeftAnim2 0.6s ease-in-out 0.3s both;}
.da-slide-toleft .da-link{-webkit-animation:toLeftAnim3 0.6s ease-in-out 0.6s both;-moz-animation:toLeftAnim3 0.6s ease-in-out 0.6s both;-o-animation:toLeftAnim3 0.6s ease-in-out 0.6s both;-ms-animation:toLeftAnim3 0.6s ease-in-out 0.6s both;animation:toLeftAnim3 0.6s ease-in-out 0.6s both;}
.da-slide-toleft .da-img{-webkit-animation:toLeftAnim4 0.6s ease-in-out 0.5s both;-moz-animation:toLeftAnim4 0.6s ease-in-out 0.5s both;-o-animation:toLeftAnim4 0.6s ease-in-out 0.5s both;-ms-animation:toLeftAnim4 0.6s ease-in-out 0.5s both;animation:toLeftAnim4 0.6s ease-in-out 0.5s both;}
@-webkit-keyframes toLeftAnim1{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-webkit-keyframes toLeftAnim2{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-webkit-keyframes toLeftAnim3{0%{left:10%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-webkit-keyframes toLeftAnim4{0%{left:60%;opacity:1;}
70%{left:30%;opacity:0;}
100%{left:-50%;opacity:0;}
}
@-moz-keyframes toLeftAnim1{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-moz-keyframes toLeftAnim2{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-moz-keyframes toLeftAnim3{0%{left:10%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-moz-keyframes toLeftAnim4{0%{left:60%;opacity:1;}
70%{left:30%;opacity:0;}
100%{left:-50%;opacity:0;}
}
@-o-keyframes toLeftAnim1{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-o-keyframes toLeftAnim2{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-o-keyframes toLeftAnim3{0%{left:10%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-o-keyframes toLeftAnim4{0%{left:60%;opacity:1;}
70%{left:30%;opacity:0;}
100%{left:-50%;opacity:0;}
}
@-ms-keyframes toLeftAnim1{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-ms-keyframes toLeftAnim2{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-ms-keyframes toLeftAnim3{0%{left:10%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@-ms-keyframes toLeftAnim4{0%{left:60%;opacity:1;}
70%{left:30%;opacity:0;}
100%{left:-50%;opacity:0;}
}
@keyframes toLeftAnim1{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@keyframes toLeftAnim2{0%{left:10%;opacity:1;}
30%{left:15%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@keyframes toLeftAnim3{0%{left:10%;opacity:1;}
100%{left:-50%;opacity:0;}
}
@keyframes toLeftAnim4{0%{left:60%;opacity:1;}
70%{left:30%;opacity:0;}
100%{left:-50%;opacity:0;}
}
@media only screen and (max-width:1440px) and (min-width:1366px){.da-dots{bottom:55px;}
.da-arrows span{top:43%;}
}
@media only screen and (max-width:1366px) and (min-width:1280px){.da-dots{bottom:55px;}
.da-arrows span{top:43%;}
}
@media (max-width:1024px){.da-dots{width:100%}
.da-slider{height:430px;}
.button-intouch {width: 215px;}
.da-slide h1{font-size:35px;}
.da-slide p{font-size:1.7em;top:200px;}
.da-slide .client_info_label{width: 300px}
.da-dots{bottom:0;}
}
@media (max-width:768px){.da-dots{width:100%}
.da-slider{height:300px;}
.button-intouch { width: 193px;}
.da-slide h1{font-size:30px;}
.da-slide p{font-size:1.5em;top:180px;}
    .da-slide .client_info_label{width: 250px}
.da-dots{bottom:0;}
.da-dots{left:0px;bottom:5px;}
.da-slide{top:-100px;}
.da-slide .da-link{font-size:1.1em;padding:15px 40px;bottom:-70px;}
.da-arrows span{top:36%;}
}
@media (max-width:640px){.da-slide h1{font-size:30px;}}
@media (max-width:480px){.da-slide h1{font-size:20px;}
.da-slide p{font-size:1.1em;top:160px;}
.da-slide .client_info_label{width: 200px}
.da-slide .da-link{font-size:1em;padding:13px 30px;}
.button-intouch { width: 163px;}
.da-slide .da-link{font-size:1.1em;padding:10px 25px;bottom:-70px;}
.da-dots{left:-4px;bottom:15px;}
.da-slider{height:230px;}
.da-arrows span{top:30%;}
}
@media (max-width:320px){.da-slide h1{font-size:18px;}
.da-slide p{display:none;}
.da-slide .da-link{font-size:0.85em;padding:7px 18px;}
.da-dots{left:-4px;bottom:6px;}
.da-slider{height:200px;}
.da-arrows span{top:30%;}
.button-intouch {width: 124px;}
}