/* We3 Company - Design | Development | Dedication */
@font-face {
    font-family: 'We3-font';
    src: url(../fonts/Panton.otf);
}

@font-face {
    font-family: 'We3-font-bold';
    src: url(../fonts/Panton-Bold.otf);
}

@font-face {
    font-family: 'we3-font-semibold';
    src: url(../fonts/Panton-SemiBold.otf);
}

@font-face {
    font-family: 'We3-font-extralight';
    src: url(../fonts/Panton-ExtraLight.otf);
}

@font-face {
    font-family: 'We3-font-light';
    src: url(../fonts/Panton-Light.otf);
}

@media screen and (max-width: 1100px) {
    #menu.fixed {
        top: -9% !important;
        padding-bottom: 16px !important;
        background: #000 !important;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1101px) {
    #menu.fixed {
        top: -10% !important;
        padding-bottom: 5px !important;
        background: #000 !important;
    }
}

@media screen and (max-width: 1550px) and (min-width: 1401px) {
    #menu.fixed {
        top: -10% !important;
        padding-bottom: 5px !important;
        background: #000 !important;
    }
}

html {
    overflow-x: hidden;
}

.safarymap {
    -moz-box-shadow: 0px 0px 0px 15px #e8e6e6;
    -webkit-box-shadow: 0px 0px 0px 15px #e8e6e6;
    box-shadow: 0px 0px 0px 15px #e8e6e6;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav,
section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.txt-rt {
    text-align: right;
}

.txt-lt {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.clear {
    clear: both;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.vertical-base {
    vertical-align: baseline;
}

.vertical-top {
    vertical-align: top;
}

.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

nav.vertical ul li {
    display: block;
}

nav.horizontal ul li {
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    font-family: "We3-font-semibold";
    background: url('../images/slider-img.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.slider-shadow {
    background-color: rgba(56, 59, 59, 0.75);
    background-size: 100% 100%;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
}

.header-top {
}

.pages-top {
    padding: 3% 0;
    background: url(../images/border.png) repeat-x 0px 112px;
}

.logo {
    float: left;
    width: 13.5%;
    margin-top: -1.5%;
}

.logo img {
    max-width: 172px;
}

a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.row-header {
    line-height: 40px;
    padding: 40px 0;
    width: 90%;
    max-width: 1040px;
}

.header .row {
    line-height: 40px;
    width: 80%;
    margin: 0 auto;
}

#header .border-center .border-block {
    text-align: center;
    margin: 20px auto 20px;
}

.header-bg {
    background: #191d20;
}

.border-block {
    display: block;
    width: 40px;
    height: 2px;
    background: #35aca8;
    margin-bottom: 30px;
}

.skillbar-bar {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

hr {
    margin: 30px 0 30px;
    border: 0;
    border-bottom: 1px dotted #ddd;
    height: 1px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.alignnone {
    float: none;
}

.aligncenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer-bottom .left {
    line-height: 32px;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

p iframe {
    max-width: 700px;
    width: 100%;
}

.intro {
    font-size: 16px;
    color: #a4a9b5;
}

@-webkit-keyframes fadeInSlower {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInSlower {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button-intouch {
    width: 216px;
    margin: 0 auto;
}

.fadeInSlower {
    -webkit-animation-name: fadeInSlower;
    animation-name: fadeInSlower;
}

#header {
    position: relative;
    height: 540px;
    width: 100%;
    background-color: #000;
}

body.page #header {
    height: 320px;
}

body.home #header {
    height: 540px;
}

.backstretch:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

#header .columns {
    text-align: center;
    position: relative;
}

.home #header .extra {
    padding-top: 80px;
}

.home #header .no-showcase {
    padding-top: 140px;
    padding-bottom: 260px;
}

.down-arrow {
    font-size: 16px;
    padding: 0px 0 40px 0;
    text-align: center;
}

#header .left-version .lead {
    margin: 0px;
    text-align: left;
}

#header .left-version h2 {
    margin: 0px;
    text-align: left;
}

#header .left-version .button-area {
    text-align: left;
}

#header .left-version .button-area .main-button {
    margin: 25px 30px 25px 0px;
}

#header .left-version .headerimage {
    text-align: left;
    margin: 50px 0px 0px 0px;
}

#header .lead {
    color: #F4F4F4;
    text-transform: uppercase;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 4px;
    max-width: 650px;
}

#header .lead a {
    color: rgba(255, 255, 255, 0.70);
}

#header h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 44px;
    margin-bottom: 5px;
    margin: 0 auto;
    line-height: 1.2;
    display: block;
    letter-spacing: 1px !important;
    color: #FFF;
    text-transform: none;
    font-weight: 300;
}

#header .lead, #header h2 {
    width: 90%;
}

#header .button, #footer .button {
    margin: 0px 20px;
    padding: 12px 24px;
    border: 1px solid #fff;
    background: none;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 22px;
    cursor: pointer;
    width: auto;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#header .button:hover, #footer .button:hover {
    background: #7bc3d1;
    border: 1px solid #7bc3d1;
}

.showcase-left {
    width: 50%;
    margin-right: 5%;
    float: left;
}

.showcase-centered {
    width: 80%;
    margin: 0 auto;
    float: left;
}

.showcase-left {
    width: 100%;
    margin: 0 auto;
    float: none;
}

.showcase-left h2 {
    text-align: left;
}

.showcase-centered h2, .showcase-centered .lead, .showcase-centered .button-area {
    text-align: center !important;
}

#header .showcase-centered .lead {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    float: none;
}

.showcase {
    float: left;
    width: 60%;
    margin-right: 5%;
}

.headerimage {
    margin-top: 50px;
    margin: 50px auto 0;
    width: 100%;
    max-width: 960px;
    text-align: center;
}

.headerimage .img-container {
    bottom: 0;
}

.down-arrow {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
}

.down-arrow a i {
    padding: 10px;
    color: #FFF;
}

#dynamic {
    position: fixed;
    left: 0;
    top: -140px;
    width: 100%;
    max-height: 180px;
    background: #000;
    -moz-transition: all 950ms ease;
    -webkit-transition: all 950ms ease;
    -o-transition: all 950ms ease;
    transition: all 950ms ease;
    z-index: 9999;
}

#dynamic.show {
    top: 0;
}

.header .logo {
    padding: 10px 0px;
    float: left;
    position: relative;
    font-size: 14px;
    max-height: 20px;
    line-height: 60px;
    margin-top: 1%;
}

.header .logo {
    max-height: 100px;
}

#dynamic #nav a {
    padding: 10px 0 10px 20px;
    line-height: 95px;
}

#dynamic #nav ul li ul li a {
    padding: 5px 20px;
    line-height: 40px;
}

.header #nav a {
    line-height: 100px;
}

.header-shrink .logo {
    padding: 20px 0px;
    position: relative;
    max-height: 40px;
    line-height: 40px;
}

.header-shrink .logo {
    max-height: 40px;
}

.header .logo,
.header #nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-shrink {
    display: block;
    top: 0px;
    height: 80px;
    opacity: .93;
    background-color: #161d21;
}

.nav-area, #nav {
    display: inline-block;
    position: relative;
    float: right;
}

#nav-icon {
    vertical-align: middle;
    line-height: 50px;
    display: inline-block;
    width: 24px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FFF;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 3px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
    left: 3px;
}

.navigation {
    display: inline-block;
    float: right;
    line-height: 50px;
}

.toggle-sidebar {
    z-index: 900;
    position: fixed;
    background: #17bcb8;
    padding: 0px 12px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    vertical-align: middle;
    color: #FFF;
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
}

.navigation a {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: #FFF;
    padding: 0px;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    vertical-align: middle;
}

.nav a {
    position: relative;
    font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .08em;
    color: #8e8e8e;
    padding: 0;
    padding-left: 20px;
    display: inline-block;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    vertical-align: middle;
}

.nav a:hover {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #FFF;
}

.nav > li {
    float: right;
    position: relative;
}

.nav, .nav ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
}

.nav li {
    line-height: 40px;
    display: block;
    position: relative;
    float: left;
}

.nav li:last-child {
    margin-right: 0;
}

.nav ul {
    position: absolute;
    display: none;
    width: 150px;
    top: 20px;
    padding-bottom: 5px;
    left: 0px;
    color: #9c9999;
    margin-top: 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav ul:before {
    position: absolute;
    top: -6px;
    left: 28px;
    margin-left: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #111;
    content: "";
    opacity: 1;
}

.nav li ul {
    z-index: 4000;
}

.nav li ul li {
    background: #111;
    background: rgba(7, 7, 7, .9);
    z-index: 1000;
    text-align: left;
}

.back > li {
    float: right;
    position: relative;
    padding: 10px 0;
}

.nav li ul a, .nav li ul li a:last-child {
    padding-bottom: 20px;
}

.nav li ul a, .nav li ul li:first-child a {
    padding-top: 20px;
}

.nav li ul li:last-child {
    border-bottom: none;
}

.nav li ul li ul {
    padding: 0;
}

.nav ul ul {
    top: auto;
}

.nav li ul ul {
    left: 150px;
    margin: 0 0 0 10px;
}

.nav li:hover ul ul, .nav li:hover ul ul ul, .nav li:hover ul ul ul ul {
    display: none;
}

.nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li li li li:hover ul {
    display: block;
}

.h_menu4 {
    float: right;
}

.toggleMenu {
    display: none;
    background: rgba(255, 255, 255, 0.22);
    padding: 10px 15px;
    width: 100%;
    color: #fff;
}

.nav {
    list-style: none;
    *zoom: 1;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    width: 9em;
}

.nav li a {
    display: block;
    padding: 10px 20px 40px 20px;
    color: #fff;
    font-size: 18px;
    font-family: "we3-font-semibold";
}

.nav li {
    position: relative;
}

.nav li.active a, .nav li a:hover {
}

.nav > li {
    float: left;
}

.nav > li > a.parent {
    background: url(../images/plus.png) no-repeat right top 16px;
}

.nav > li > a:hover {
    color: #f37021;
    background-color: transparent;
}

.nav li ul {
    position: absolute;
    left: -9999px;
}

.nav > li.hover > ul {
    left: 0px;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.nav li li a {
    font-size: 0.8725em;
    padding: 10px;
    display: block;
    color: #fff;
    background: rgba(73, 93, 137, 0.56);
    position: relative;
    z-index: 9999;
    border-top: 1px solid rgba(233, 233, 233, 0.09);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li li li a {
    background: #249578;
    z-index: 200;
    border-top: 1px solid #1d7a62;
}

.nav li li a:hover {
    background: #FAA645;
    color: #fff;
    border-bottom: none;
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 95%;
    }

    #dynamic {
        display: none;
    }

    .h_logo4 {
        text-align: center;
        float: none;
        margin: 4% 0;
    }

    .h_menu4 {
        float: none;
        width: 95%;
        margin: 0 auto;
        margin-top: 2%;
    }

    .toggleMenu {
        padding: 10px 15px;
        width: 100%;
        border-radius: 20px;
    }

    .nav li a {
        padding: 10px 15px;
    }

    .nav {
        background: rgba(255, 255, 255, 0.22);
        border-radius: 20px;
        width: 100%;
        text-align: center;
    }

    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

    .nav > li > .parent {
        background-position: 95% 50% !important;
    }

    .nav ul {
        display: block;
        width: 100%;
    }

    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
    }

    .form-control {
        width: 80%;
    }

    .btn {
        margin-top: 5%;
        width: 86%;
    }

    .footer-grid2 ul {
        margin-left: 0%;
    }

    #map {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .wrap {
        width: 95%;
    }

    .toggleMenu {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrap {
        width: 95%;
    }

    .toggleMenu {
        width: 100%;
    }

    .span_1_of_middle p {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 320px) {
    .wrap {
        width: 95%;
    }

    .toggleMenu {
        width: 100%;
    }
}

.slider {
    margin-bottom: 5%;
}

.main {
    background: #fff;
}

.col_1_of_4:first-child {
    margin-left: 0;
}

.span_1_of_4 {
    width: 30.7%;
}

.col_1_of_4 {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    position: relative;
}

.span_1_of_4 img {
    border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    -o-border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -o-border-top-right-radius: 7px;
    display: block;
    width: 282px;
    margin: 0px auto;
    padding-left: 35px;
    margin-bottom: 4%;
}

.span_1_of_4:nth-child(2) img {
    padding-left: 30px;
}

h2.m_1 {
    font-size: 24px;
    line-height: 1.5em;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: #2a2e2e;
    padding: 5% 0px 7%;
    font-family: "we3-font-semibold";
    text-transform: uppercase;
}

#map {
    width: 425px;
    height: 247px;
    border-radius: 20px;
    float: right;
    margin-right: 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
}

#map1 > .gm-style > div, #map1 > .gm-style > div > div {
    overflow: hidden;
    border-radius: 20px;
}

.footer h2.m_1 {
    font-size: 24px;
    line-height: 1.5em;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    padding: 5% 0px 7%;
    font-family: "we3-font-semibold";
    text-transform: uppercase;
}

i.settings {
    width: 100px;
    height: 100px;
    background: url(../images/img-sprite.png) -141px -4px;
    float: left;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: -50px;
    left: 37%;
}

i.clock {
    width: 100px;
    height: 100px;
    background: url(../images/img-sprite.png) -267px -2px;
    float: left;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: -50px;
    left: 37%;
}

i.aeroplane {
    width: 100px;
    height: 100px;
    background: url(../images/img-sprite.png) -389px -1px;
    float: left;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: -50px;
    left: 37%;
}

.desc {
    text-align: center;
    padding: 8%;
}

.desc h3 {
    color: #2a2e2e;
    font-size: 19px;
    margin-bottom: 8%;
    font-family: "We3-font-light";
    font-weight: bold;
}

.desc p {
    color: #555;
    font-size: 1em;
    line-height: 1.5em;
}

.desc ul li {
    color: #2A2E2E;
    font-size: 15px;
    background-image: url("../images/bullet-style.png");
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    font-family: "we3-font";
    padding-bottom: 1%;
}

.col_1_of_middle:first-child {
    margin-left: 0;
}

.span_1_of_middle {
    width: 100%;
}

.col_1_of_middle {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}

.m_3 {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 1.7em;
    padding: 5% 0;
    color: rgb(255, 255, 255);
    width: 80%;
    margin: 0px auto;
    height: auto;
    min-height: 350px;
}

span.left_line {
    height: 3px;
    width: 503px;
    display: block;
    position: absolute;
    left: 0%;
    bottom: 75px;
}

span.right_line {
    height: 3px;
    width: 503px;
    display: block;
    position: absolute;
    right: 0%;
    bottom: 75px;
}

.span_1_of_middle h3 {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 2%;
    font-family: "we3-font-semibold";
    text-transform: none;
}

.span_1_of_middle p {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 2%;
    font-family: "we3-font-semibold";
    text-transform: none;
}

.btn {
    margin-top: 5%;
    width: 64%;
    border-radius: 20px;
    color: white;
    background-color: #f37021;
    border: none;
    font-family: "We3-font";
    font-size: 17px;
    float: right;
}

.btn a {
    border: none;
    font-weight: 100;
    color: #FFF;
    cursor: pointer;
    padding: 15px 50px;
    display: inline-block;
    font-size: 1em;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background: #FFA540;
}

.btn a:hover {
    background: #F1962F;
}

.skills {
    width: 100%;
    margin: 10px 0;
    background-color: #D7DEE0;
    height: 10px;
}

.skills > div {
    height: 100%;
    display: block;
    background-color: #ffa540;
}

.content-middle-bottom {
    padding: 5% 0 0 0;
    width: 80%;
    margin: 0px auto;
}

ul.progress.vertical {
    position: relative;
    width: 65px;
    min-height: 330px;
    float: left;
    margin-right: 50px;
    background: #ffa540;
}

li.bar {
    background: #eee;
    width: 50px;
    position: absolute;
}

li.bar1 {
    background: #eee;
    height: 50%;
    width: 50px;
    position: absolute;
}

.col_1_of_projects:first-child {
    margin-left: 0;
}

.span_1_of_projects {
    width: 22.8%;
}

.col_1_of_projects {
    display: block;
    float: left;
    margin: 1% 0 1% 2.6%;
}

.view {
    width: 290px;
    height: 350px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.view .mask, .view .content {
    width: 290px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    cursor: pointer;
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.info:hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

h3.m_4 {
    text-align: center;
    padding: 5% 0;
}

h3.m_4 a {
    color: #555;
    text-transform: uppercase;
    font-size: 1em;
}

h3.m_4 a:hover {
    color: #FFA540;
}

p.m_5 {
    text-align: center;
    color: #999;
    font-size: 0.85em;
}

.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(219, 127, 8, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.span_1_of_projects img {
    display: block;
}

.wmuSlider {
    position: relative;
    overflow: hidden;
    padding: 0 0 8% 0;
}

.wmuSlider .wmuSliderWrapper article {
    position: relative;
    text-align: center;
}

.wmuSlider .wmuSliderWrapper article img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
}

.wmuGallery .wmuGalleryImage img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.wmuSliderPagination {
    z-index: 2;
    position: absolute;
    left: 46%;
    bottom: 50px;
}

.wmuSliderPagination li {
    float: left;
    margin: 0 2px 0 0;
    list-style-type: none;
}

.wmuSliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    background: #ffa540;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 3px;
}

.wmuSliderPagination a.wmuActive {
    background: #eee;
    width: 15px;
    height: 15px;
}

.banner-text {
    width: 75%;
    margin: 0 auto;
}

.banner-text p {
    color: #555;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 3%;
}

h3.m_6 {
    color: #000;
    font-size: 1em;
    border-top: 1px solid #F0f0f0;
    width: 17%;
    margin: 0 auto;
    padding-top: 2%;
}

span.bg1 {
    color: #999;
}

.footer {
    background: #252525;
    padding: 3% 0;
    padding-top: 20px;
}

.footer-grid {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-left: -3%;
}

.footer-grid2 {
    float: right;
}

.location-map iframe {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.footer-grid1 p, .footer-grid2 p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    font-family: 'We3-font';
}

.f-logo {
    margin-bottom: 1%;
    display: none;
}

.footer-grid2 h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 1.5em;
}

i.pin {
    width: 20px;
    height: 20px;
    float: left;
    background: url(../images/img-sprite.png) -10px -102px;
    vertical-align: middle;
    margin: 0px 6px 6px 0px;
}

i.phone {
    width: 20px;
    height: 20px;
    float: left;
    background: url(../images/img-sprite.png) no-repeat -37px -105px;
    vertical-align: middle;
    margin: 0px 6px 6px 0px;
}

i.mail {
    width: 20px;
    height: 20px;
    float: left;
    background: url(../images/img-sprite.png) no-repeat -68px -104px;
    vertical-align: middle;
    margin: 0px 6px 6px 0px;
}

i.earth {
    width: 20px;
    height: 20px;
    float: left;
    background: url(../images/img-sprite.png) no-repeat -101px -105px;
    vertical-align: middle;
    margin: 0px 6px 6px 0px;
}

.footer-grid2 ul li label {
    color: #FFF;
    font-size: 0.875em;
}

.extra-wrap {
    overflow: hidden;
}

.footer-grid2 ul {
    width: 90%;
    margin: 0 auto;
}

.footer-grid2 ul li {
    margin-bottom: 4%;
    width: 33%;
    float: left;
}

.footer-grid2 ul li img {
    width: 54px;
    height: 27px;
}

.foot-img {
    margin: 0px auto;
    width: 55px;
}

.extra-wrap1 p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-family: 'We3-font';
}

.extra-wrap1 p:hover {
    text-decoration: underline;
}

.recent-tweet {
    margin-bottom: 1em;
}

.recent-tweet-icon {
    float: left;
    width: 10%;
    margin-top: 3%;
}

.recent-tweet-icon span {
    width: 20px;
    height: 20px;
    display: block;
    background: url(../images/img-sprite.png) no-repeat -136px -111px;
}

.recent-tweet-info p {
    color: #919295;
    font-size: 0.875em;
    line-height: 1.5em;
}

.footer-grid3 h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 1.2em;
}

.recent-tweet-info {
    float: right;
    width: 88%;
}

.recent-tweet-info a {
    display: block;
    color: #919295;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-style: italic;
}

.recent-tweet-info a:hover {
    color: #FFA540;
}

.footer-grid4 h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 0.5em;
}

.footer-grid4 p {
    color: #919295;
    font-size: 0.875em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.footer-grid4 input[type="text"] {
    background: #353b47;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: none;
    font-family: 'Lato', sans-serif;
    outline: none;
    font-size: 12px;
    padding: 8px;
    color: #757679;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    width: 61%;
}

.footer-grid4 input[type="submit"] {
    background: url(../images/img-sprite.png) no-repeat -194px -101px #ffa540;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    border: none;
    padding: 7px 25px;
    position: absolute;
    left: 200px;
    cursor: pointer;
    color: #FFF;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.footer-grid4 input[type="submit"]:hover {
    background: url(../images/img-sprite.png) no-repeat -230px -101px #fff;
}

.footer-grid4 {
    position: relative;
    margin-right: 0;
}

.footer-bottom {
    background: #101010;
    padding: 1% 0;
}

.copy {
    float: left;
}

.copy p {
    color: #fff;
    font-size: 14px;
}

.copy p a {
    color: #444343;
    text-decoration: underline;
    font-size: 11px;
    font-family: "We3-font-semibold";
}

.copy p a:hover {
    color: #919295;
}

.social {
    float: right;
    width: 100%;
    margin-top: 243px;
}

.social p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: "We3-font";
    padding-bottom: 15px;
    width: 100%;
    float: left;
    margin: 0 auto;
}

.social ul {
    width: 90%;
    margin: 0px auto;
}

.social ul li:last-child {
    margin-right: 0px;
}

li.facebook a span {
    margin: 0 auto;
    height: 26px;
    width: 53px;
    display: block;
    background: url('../images/fb-ico.png');
}

li.facebook a span:hover {
    background: url('../images/fb-ico-h.png');
}

li.linkedin a span {
    margin: 0 auto;
    height: 26px;
    width: 53px;;
    display: block;
    background: url('../images/in-ico.png')
}

li.linkedin a span:hover {
    background: url('../images/in-ico-h.png')
}

li.twitter a span:hover {
    background: url('../images/twitter-ico-h.png')
}

li.twitter a span {
    margin: 0 auto;
    height: 26px;
    width: 53px;
    display: block;
    background: url('../images/twitter-ico.png')
}

.span_2_of_g1 {
    width: 73.1%;
}

.cont1 {
    display: block;
    float: left;
}

.col_1_of_about-box:first-child {
    margin-left: 0;
}

.col_1_of_about-box {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}

.span_1_of_about-box {
    width: 30.5%;
}

.span_1_of_g1 {
    width: 24.2%;
}

.labout {
    display: block;
    float: left;
    margin: 0 0 0 2.6%;
}

.gallery li {
    float: left;
    display: inline;
    width: 31.5%;
    margin-right: 2%;
    background: #FFF;
    border: 1px solid #f0f0f0;
}

.gallery li.last {
    margin: 0 0 30px 0;
}

.gallery li h3 {
    padding: 5%;
    color: #555;
    font-size: 1em;
}

.gallery li a img {
    display: block;
}

.project-list h4, .project-list1 h4, .project-list2 h4 {
    font-size: 1.4em;
    color: #555;
    margin-bottom: 7%;
    text-transform: uppercase;
}

ul.blog-list {
    width: 50%;
    float: left;
}

.project-list li, .project-list1 li {
    margin-bottom: 20px;
}

.project-list li img, .project-list1 li img {
    float: left;
    margin-right: 20px;
}

ul.blog-list li {
    list-style-image: url(../images/arrow.png);
    margin: 0 35px 10px;
}

ul.blog-list li a {
    font-size: 0.9em;
    color: #555;
    vertical-align: super;
}

ul.blog-list li a:hover {
    color: #000;
}

.pages {
    padding: 5% 0;
}

.project-list1 {
    padding-top: 10%;
}

.project-list2 {
    padding-top: 10%;
}

.project-list2 li {
    float: left;
    background: #FFA540;
    padding: 5px;
    margin: 2px;
}

.project-list2 li a {
    color: #000;
    text-transform: uppercase;
    font-size: 0.89em;
}

.project-list2 li a:hover {
    color: #fff;
}

ul.dc_pagination {
    text-align: center;
    overflow: hidden;
    margin: 3% 0 2% 0;
}

ul.dc_pagination li:first-child {
    margin-left: 0px;
    margin-right: 5%;
    text-transform: uppercase;
}

ul.dc_pagination li {
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

ul.dc_pagination li a {
    color: #555;
    display: block;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    font-size: 1.1em;
}

ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
    background: #FFA540;
    color: #FFF;
}

.col_1_of_b:first-child {
    margin-left: 0;
}

.col_1_of_b {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
    position: relative;
}

.col_1_of_b img {
    display: block;
}

.span_1_of_b {
    width: 48.2%;
}

.span_1_of_b h3 {
    margin-bottom: 2%;
}

.span_1_of_b h3 a {
    color: #333;
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.span_1_of_b h3 a:hover {
    color: #555;
}

.span_1_of_b p {
    color: #555;
    font-size: 0.85em;
    line-height: 1.5em;
    margin-top: 3%;
}

.button {
    margin-top: 20px;
}

.button a {
    color: #FFA540;
    font-size: 0.85em;
    text-transform: uppercase;
}

.button a:hover {
    color: #555;
}

.blog-poast-admin {
    position: absolute;
    bottom: 7.6em;
    left: 1.2em;
}

.blog-poast-admin img {
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    border: 4px solid #FFF;
}

.blog-poast-info {
    background: #FFA540;
    padding: 0.8em 1em;
    text-align: center;
}

.blog-poast-info ul li {
    display: inline-table;
    margin-right: 1em;
}

.blog-poast-info ul li a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.875em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.blog-poast-info ul li a:hover {
    text-decoration: underline;
}

i.admin {
    width: 20px;
    height: 20px;
    background: url(../images/img-sprite.png) no-repeat -380px -111px;
    float: left;
}

i.date {
    width: 20px;
    height: 20px;
    background: url(../images/img-sprite.png) no-repeat -408px -111px;
    float: left;
}

i.comment {
    width: 20px;
    height: 20px;
    background: url(../images/img-sprite.png) no-repeat -440px -111px;
    float: left;
}

.blog-top {
    padding-bottom: 2%;
}

p.m_10 {
    font-size: 0.85em;
    color: #555;
    line-height: 1.8em;
    padding: 2% 0;
}

p.m_11 {
    font-size: 0.85em;
    color: #555;
    line-height: 1.8em;
}

.btn1 {
    padding-top: 3%;
}

.btn1 a {
    background: #FFA540;
    font-size: 1.2em;
    padding: 18px 50px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    float: left;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.btn1 a:hover {
    background: #555;
}

#menucc {
    padding-top: 7%;
}

#menu.fixed {
    position: fixed;
    top: -15%;
    left: 0;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0.90);
    height: 180px;
    height: auto;
    z-index: 9999;
    transition: all 980ms ease;
    -webkit-transition: all 980ms ease;
    -moz-transition: all 980ms ease;
    -o-transition: all 980ms ease;
    -ms-transition: all 980ms ease;
}

.centred-menu {
    width: 80%;
    margin: 0 auto;
    display: none !important;
}

.gallery1 li {
    float: left;
    display: inline;
    width: 31.8%;
    margin-right: 2%;
    border: 1px solid #f0f0f0;
    background: #FFF;
}

.gallery1 li a img {
    display: block;
}

.gallery1 li.last {
    margin-right: 0;
}

.gallery1 li h3 {
    padding: 5%;
    color: #555;
    font-size: 1em;
}

.gallery1 li.last {
    margin: 0 0 30px 0;
}

form div {
}

.form-control {
    color: rgb(49, 53, 52) !important;
    width: 64%;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
    box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.5);
    border: none;
    font-family: Arial;
    font-size: 13px;
    float: right;
    margin-bottom: 2%;
}

#message-textarea {
    height: 120px;
    padding-top: 10px;
    resize: none;
}

.to input[type="text"] {
    padding: 20px 9px;
    width: 48%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    border: 1px solid #E1E2E2;
    color: #555;
    background: #FFF;
    float: left;
    outline: none;
}

.text input[type="text"], .text textarea {
    width: 98.3%;
    font-size: 1em;
    margin: 10px 0;
    border: 1px solid #E1E2E2;
    color: #555;
    font-family: 'Lato', sans-serif;
    outline: none;
    margin-bottom: 25px;
    height: 150px;
    padding: 20px 9px;
}

.contatct-top input[type="submit"] {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding: 20px 60px;
    text-transform: uppercase;
    background: #FFA540;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: 100;
    border: none;
    cursor: pointer;
}

.contatct-top input[type="submit"]:hover {
    background: #555;
}

.map {
    padding-top: 4%;
}

p.m_12 {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
    color: #555;
    margin-bottom: 2%;
}

.m_contact {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #777;
    font-size: 1.7em;
    padding: 5% 0 3%;
}

span.left_line1 {
    height: 3px;
    width: 503px;
    display: block;
    background: url(../images/border1.png) no-repeat 0px 0px;
    position: absolute;
    left: 0%;
    bottom: 51px;
}

span.right_line1 {
    height: 3px;
    width: 503px;
    display: block;
    background: url(../images/border1.png) no-repeat 0px 0px;
    position: absolute;
    right: 0%;
    bottom: 51px;
}

.contact {
    padding-bottom: 5%;
}

@media (max-width: 1366px) {
    .wrap {
        width: 90%;
    }

    .header-top {
    }

    ul.progress.vertical {
        margin-right: 49px;
    }

    span.left_line {
        width: 470px;
    }

    span.right_line {
        width: 470px;
    }

    .to input[type="text"] {
        width: 47.9%;
    }

    .footer-grid4 input[type="text"] {
        width: 64%;
    }
}

@media (max-width: 1280px) {
    .wrap {
        width: 90%;
    }

    .header-top {
    }

    ul.progress.vertical {
        margin-right: 42px;
    }

    span.left_line {
        width: 470px;
    }

    span.right_line {
        width: 470px;
    }

    .to input[type="text"] {
        width: 47.6%;
    }

    .view {
        width: 270px;
        height: 330px;
    }

    .view .mask, .view .content {
        width: 270px;
        height: 330px;
    }

    h3.m_6 {
        width: 20%;
    }

    .footer-grid4 input[type="text"] {
        width: 68%;
    }

    .text input[type="text"], .text textarea {
        width: 97.8%;
    }

    .pages-top {
        background: url(../images/border.png) repeat-x 0px 108px;
    }

    span.left_line1 {
        width: 470px;
        bottom: 48px;
    }

    span.right_line1 {
        width: 470px;
        bottom: 48px;
    }
}

@media (max-width: 1024px) {
    .wrap {
        width: 90%;
    }

    .header-top {
    }

    ul.progress.vertical {
        margin-right: 30px;
    }

    span.left_line {
        width: 320px;
        bottom: 55px;
    }

    span.right_line {
        width: 320px;
        bottom: 55px;
    }

    .to input[type="text"] {
        width: 46.9%;
    }

    .view {
        width: 215px;
        height: 270px;
    }

    .view .mask, .view .content {
        width: 215px;
        height: 270px;
    }

    h3.m_6 {
        width: 30%;
    }

    .footer-grid4 input[type="text"] {
        width: 68%;
    }

    .text input[type="text"], .text textarea {
        width: 96.9%;
    }

    .logo {
        width: 16.5%;
    }

    .nav li a {
        padding: 10px 20px 30px 20px;
    }

    h2.m_1 {
        font-size: 24px;
    }

    .desc p {
        font-size: 0.85em;
    }

    .m_3 {
        font-size: 1.5em;
    }

    .span_1_of_middle h3 {
        font-size: 1em;
    }

    .footer-grid4 input[type="submit"] {
        left: 163px;
    }

    ul.blog-list {
        width: 100%;
        float: none;
    }

    .pages-top {
        background: url(../images/border.png) repeat-x 0px 91px;
    }

    .blog-poast-admin {
        bottom: 8.6em;
    }

    span.left_line1 {
        width: 350px;
        bottom: 39px;
    }

    span.right_line1 {
        width: 350px;
        bottom: 39px;
    }

    .m_contact {
        font-size: 1.5em;
    }

    p.m_12 {
        font-size: 1em;
    }

    .wmuSliderPagination {
        bottom: 40px;
        left: 45%;
    }

    i.settings {
        left: 33%;
    }

    i.clock {
        left: 33%;
    }

    i.aeroplane {
        left: 33%;
    }

    .gallery1 li {
        width: 31.7%;
    }

    ul.progress.vertical {
        width: 55px;
    }

    #map {
        width: 85%;
    }

    .footer-grid2 ul {
        width: 100%;
        margin-left: 3%;
    }

    .footer-grid2 ul li {
        margin-bottom: 4%;
        width: 31%;
        float: left;
        margin-right: 0%;
    }
}

@media (max-width: 768px) {
    .wrap {
        width: 90%;
    }

    .header-top {
        background: none;
    }

    ul.progress.vertical {
        margin-right: 14px;
    }

    span.left_line {
        width: 240px;
        bottom: 43px;
    }

    span.right_line {
        width: 240px;
        bottom: 43px;
    }

    .to input[type="text"] {
        width: 45.9%;
        padding: 15px 9px;
    }

    .view {
        width: 215px;
        height: 260px;
    }

    .view .mask, .view .content {
        width: 215px;
        height: 260px;
    }

    h3.m_6 {
        width: 30%;
    }

    .footer-grid4 input[type="text"] {
        width: 68%;
    }

    .text input[type="text"], .text textarea {
        width: 95.9%;
    }

    .logo {
        width: 16.5%;
    }

    .nav li a {
        padding: 10px 20px 30px 20px;
    }

    h2.m_1 {
        font-size: 24px;
    }

    .desc p {
        font-size: 0.85em;
    }

    .m_3 {
        font-size: 1.3em;
        min-height: 350px;
    }

    .span_1_of_middle h3 {
        font-size: 1em;
    }

    .footer-grid4 input[type="submit"] {
        left: 125px;
    }

    ul.blog-list {
        width: 50%;
        float: left;
    }

    .header-top {
        background: none;
        padding: 20px 0 0 0;
    }

    .blog-poast-admin {
        bottom: 9.6em;
        left: 0.5em;
    }

    span.left_line1 {
        width: 260px;
        bottom: 31px;
    }

    span.right_line1 {
        width: 260px;
        bottom: 31px;
    }

    .m_contact {
        font-size: 1.4em;
    }

    p.m_12 {
        font-size: 1em;
    }

    .wmuSliderPagination {
        bottom: 20px;
    }

    .logo {
        width: 100%;
        text-align: center;
        float: none;
    }

    .toggleMenu {
        margin-bottom: 5px;
        background: rgba(255, 255, 255, 0.22);
        text-align: center;
    }

    .nav li.active a, .nav li a:hover {
        border: none;
    }

    .desc h3 {
        font-size: 19px;
    }

    .span_1_of_4 img {
        width: 255px;
        padding-left: 30px;
    }

    .span_1_of_4:nth-child(2) img {
        padding-left: 25px;
    }

    ul.progress.vertical {
        width: 50px;
    }

    .span_1_of_projects {
        width: 33.8%;
    }

    h3.m_4 a {
        font-size: 0.85em;
    }

    .banner-text p {
        font-size: 0.85em;
    }

    i.settings {
        left: 27%;
    }

    i.clock {
        left: 27%;
    }

    i.aeroplane {
        left: 27%;
    }

    .btn a {
        padding: 12px 40px;
    }

    .cont1 {
        float: none;
    }

    .span_2_of_g1 {
        width: 100%;
    }

    .labout {
        float: none;
        margin: 0;
    }

    .span_1_of_g1 {
        width: 100%;
    }

    .project-list h4, .project-list1 h4, .project-list2 h4 {
        font-size: 1.2em;
        margin-bottom: 3%;
    }

    .project-list1 {
        padding-top: 4%;
    }

    ul.dc_pagination {
        margin: 1% 0 4% 0;
    }

    ul.dc_pagination li a {
        font-size: 1em;
    }

    .project-list2 {
        padding-top: 4%;
    }

    .btn1 a {
        font-size: 1.1em;
        padding: 15px 40px;
    }

    .recent-tweet-info {
        width: 86%;
    }

    .pages-top {
        background: none;
        padding: 15px 0;
    }

    .submit {
        padding: 16px 50px;
    }

    .col_1_of_projects {
        float: left;
        margin: 1% 0 1% 0%;
    }

    .form-control {
        width: 90%;
    }

    .btn {
        margin: 4% 0;
        width: 90%;
    }

    .footer-grid2 ul {
        width: 100%;
        margin-left: 0%;
    }

    .footer-grid2 ul li {
        margin-bottom: 10px;
        width: 100%;
        float: left;
        margin-right: 0%;
    }

    #map {
        display: none;
        width: 95%;
        margin-right: 1%;
    }

    .f-logo {
        margin-bottom: 10px;
        width: 30%;
        margin: 0 auto;
    }

    .copy {
        float: none;
        margin-bottom: 10px;
        text-align: center;
    }

    .social {
        float: left;
        width: 97%;
        margin-top: 0px;
    }
}

@media (max-width: 640px) {
    .wrap {
        width: 90%;
    }

    .header-top {
        background: none;
    }

    ul.progress.vertical {
        margin-right: 14px;
    }

    span.left_line {
        width: 180px;
        bottom: 37px;
    }

    span.right_line {
        width: 180px;
        bottom: 37px;
    }

    .to input[type="text"] {
        width: 45.3%;
        padding: 12px 9px;
    }

    .view {
        width: 215px;
        height: 260px;
    }

    .view .mask, .view .content {
        width: 215px;
        height: 260px;
    }

    h3.m_6 {
        width: 40%;
    }

    .footer-grid4 input[type="text"] {
        width: 68%;
    }

    .text input[type="text"], .text textarea {
        width: 95.9%;
    }

    .logo {
        width: 16.5%;
    }

    .nav li a {
        padding: 10px 20px 30px 20px;
    }

    h2.m_1 {
        font-size: 24px;
        padding: 20px 0 40px;
    }

    .desc p {
        font-size: 0.85em;
    }

    .m_3 {
        font-size: 1.3em;
        height: 450px;
    }

    .span_1_of_middle h3 {
        font-size: 1em;
    }

    .form-control {
        width: 90%;
    }

    .footer-grid4 input[type="submit"] {
        left: 398px;
    }

    ul.blog-list {
        width: 50%;
        float: left;
    }

    .header-top {
        background: none;
        padding: 20px 0 0 0;
    }

    .blog-poast-admin {
        bottom: 7em;
        left: 1em;
    }

    span.left_line1 {
        width: 210px;
        bottom: 27px;
    }

    span.right_line1 {
        width: 210px;
        bottom: 27px;
    }

    .m_contact {
        font-size: 1.3em;
    }

    p.m_12 {
        font-size: 1em;
    }

    .wmuSliderPagination {
        bottom: 20px;
    }

    .logo {
        width: 100%;
        text-align: center;
        float: none;
    }

    .toggleMenu {
        background: rgba(255, 255, 255, 0.22);
    }

    .nav li.active a, .nav li a:hover {
        border: none;
    }

    .desc h3 {
        font-size: 19px;
    }

    .span_1_of_4 img {
        width: 255px;
        padding-left: 110px;
    }

    .span_1_of_4:nth-child(2) img {
        padding-left: 80px;
    }

    ul.progress.vertical {
        width: 50px;
    }

    .span_1_of_projects {
        width: 38.8%;
    }

    h3.m_4 a {
        font-size: 0.85em;
    }

    .banner-text p {
        font-size: 0.85em;
    }

    i.settings {
        left: 35%;
    }

    i.clock {
        left: 35%;
    }

    i.aeroplane {
        left: 35%;
    }

    .btn a {
        padding: 12px 40px;
    }

    .cont1 {
        float: none;
    }

    .span_2_of_g1 {
        width: 100%;
    }

    .labout {
        float: none;
        margin: 0;
    }

    .span_1_of_g1 {
        width: 100%;
    }

    .project-list h4, .project-list1 h4, .project-list2 h4 {
        font-size: 1.2em;
        margin-bottom: 3%;
    }

    .project-list1 {
        padding-top: 4%;
    }

    ul.dc_pagination {
        margin: 1% 0 4% 0;
    }

    ul.dc_pagination li a {
        font-size: 1em;
    }

    .project-list2 {
        padding-top: 4%;
    }

    .btn1 a {
        font-size: 1.1em;
        padding: 15px 40px;
    }

    .recent-tweet-info {
        width: 86%;
    }

    .pages-top {
        background: none;
        padding: 15px 0;
    }

    .submit {
        padding: 16px 50px;
    }

    .span_1_of_4 {
        width: 95%;
    }

    .col_1_of_4 {
        float: none;
        margin: 1% 0 9% 0%;
    }

    .desc {
        padding: 10px;
    }

    .span_1_of_middle {
        width: 100%;
    }

    .span_1_of_middle img {
        width: 60%;
    }

    .col_1_of_middle {
        float: none;
        margin: 1% 0 1% 0;
    }

    .btn {
        margin: 4% 0;
        width: 90%;
    }

    .footer-grid2 ul {
        width: 90%;
        float: right;
    }

    .footer-grid {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .f-logo {
        margin-bottom: 10px;
    }

    .footer-grid2 h4 {
        padding-bottom: 10px;
    }

    .footer-grid2 ul li {
        margin-bottom: 10px;
        width: 33%;
        float: left;
        margin-right: 0%;
    }

    #map {
        display: none;
        width: 95%;
        margin-right: 1%;
    }

    .f-logo {
        margin-bottom: 10px;
        width: 37%;
        margin: 0 auto;
    }

    .copy {
        float: none;
        margin-bottom: 10px;
        text-align: center;
    }

    .social {
        float: right;
        width: 90%;
        margin: 0 auto;
        margin-top: 0px;
    }

    .social p {
        width: 100%;
        float: right;
        margin: 0 auto;
    }

    .social ul {
        width: 100%;
        float: left;
        margin: 0 auto;
    }

    ul.dc_pagination li:first-child {
        margin-right: 0%;
    }

    ul.dc_pagination li {
        margin-left: 0;
    }

    .span_1_of_b {
        width: 100%;
    }

    .col_1_of_b {
        float: none;
        margin: 1% 0 5% 0%;
    }

    .button {
        margin-top: 10px;
    }

    .gallery1 li {
        width: 31.5%;
    }

    .col_1_of_projects {
        float: left;
        margin: 1% 0 1% 0%;
    }
}

@media (max-width: 480px) {
    .wrap {
        width: 90%;
    }

    .header-top {
        background: none;
    }

    ul.progress.vertical {
        margin-right: 14px;
    }

    span.left_line {
        width: 125px;
        bottom: 30px;
    }

    span.right_line {
        width: 125px;
        bottom: 30px;
    }

    .to input[type="text"] {
        width: 43.5%;
        padding: 11px 9px;
    }

    .view {
        width: 200px;
        height: 245px;
    }

    .view .mask, .view .content {
        width: 200px;
        height: 245px;
    }

    .col_1_of_projects {
        float: left;
        margin: 1% 0 1% 0%;
    }

    h3.m_6 {
        width: 60%;
    }

    .footer-grid4 input[type="text"] {
        width: 68%;
    }

    .text input[type="text"], .text textarea {
        width: 93.9%;
    }

    .logo {
        width: 16.5%;
    }

    .nav li a {
        padding: 10px 20px 30px 20px;
    }

    h2.m_1 {
        font-size: 24px;
    }

    .desc p {
        font-size: 0.85em;
    }

    .m_3 {
        font-size: 1.2em;
        height: 450px;
    }

    .span_1_of_middle h3 {
        font-size: 1em;
    }

    .footer-grid4 input[type="submit"] {
        left: 303px;
    }

    ul.blog-list {
        width: 50%;
        float: left;
    }

    .header-top {
        background: none;
        padding: 10px 0 0 0;
    }

    .blog-poast-admin {
        bottom: 8em;
        left: 0.2em;
    }

    span.left_line1 {
        width: 145px;
        bottom: 22px;
    }

    span.right_line1 {
        width: 145px;
        bottom: 22px;
    }

    .m_contact {
        font-size: 1.2em;
    }

    p.m_12 {
        font-size: 0.85em;
    }

    .wmuSliderPagination {
        bottom: 7px;
        left: 40%;
    }

    .logo {
        width: 55%;
        text-align: center;
        float: none;
        margin: 0 auto;
    }

    .toggleMenu {
        background: rgba(255, 255, 255, 0.22);
    }

    .nav li.active a, .nav li a:hover {
        border: none;
    }

    .desc h3 {
        font-size: 19px;
    }

    .span_1_of_4 img {
        width: 255px;
        padding-left: 35px;
    }

    .span_1_of_4:nth-child(2) img {
        padding-left: 40px;
    }

    ul.progress.vertical {
        width: 50px;
    }

    .span_1_of_projects {
        width: 49.8%;
    }

    h3.m_4 a {
        font-size: 0.85em;
    }

    .banner-text p {
        font-size: 0.85em;
    }

    i.settings {
        left: 35%;
    }

    i.clock {
        left: 35%;
    }

    i.aeroplane {
        left: 35%;
    }

    .btn a {
        padding: 12px 40px;
    }

    .cont1 {
        float: none;
    }

    .span_2_of_g1 {
        width: 100%;
    }

    .labout {
        float: none;
        margin: 0;
    }

    .span_1_of_g1 {
        width: 100%;
    }

    .project-list h4, .project-list1 h4, .project-list2 h4 {
        font-size: 1.2em;
        margin-bottom: 3%;
    }

    .project-list1 {
        padding-top: 4%;
    }

    ul.dc_pagination {
        margin: 1% 0 4% 0;
    }

    ul.dc_pagination li a {
        font-size: 0.85em;
    }

    .project-list2 {
        padding-top: 4%;
    }

    .btn1 a {
        font-size: 1.1em;
        padding: 15px 40px;
    }

    .recent-tweet-info {
        width: 86%;
    }

    .pages-top {
        background: none;
        padding: 15px 0;
    }

    .submit {
        padding: 12px 40px;
        font-size: 1em;
    }

    .span_1_of_4 {
        width: 90%;
        margin: 0 auto !important;
    }

    .col_1_of_4 {
        float: none;
        margin: 10px 0 50px 0;
    }

    .desc {
        padding: 10px;
    }

    .span_1_of_middle {
        width: 100%;
    }

    .span_1_of_middle img {
        width: 60%;
    }

    .col_1_of_middle {
        float: none;
        margin: 1% 0 1% 0;
    }

    .btn {
        margin: 4% 0;
    }

    .footer-grid {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .f-logo {
        margin-bottom: 10px;
        width: 38%;
        margin: 0 auto;
    }

    .copy {
        width: 96%;
        float: right;
        margin: 0 auto;
        margin-bottom: 0px;
        text-align: center;
    }

    .social {
        float: left;
        width: 100%;
        margin-top: 0px;
    }

    .social p {
        width: 90%;
        float: right;
    }

    .social ul {
        width: 100%;
        float: right;
    }

    .social li {
        margin-right: 15%;
    }

    .footer-grid2 ul {
        margin-left: 0%;
    }

    .footer-grid2 ul li {
        margin-bottom: 10px;
        width: 100%;
    }

    #map {
        display: none;
        width: 95%;
        margin-right: 1%;
    }

    .form-control {
        width: 90%;
    }

    .btn {
        margin: 4% 0;
        width: 90%;
    }

    .footer-grid2 h4 {
        padding-bottom: 10px;
        font-size: 1.1em;
    }

    .footer-grid2 ul li {
        margin-bottom: 10px;
    }

    ul.dc_pagination li:first-child {
        margin-right: 0%;
    }

    ul.dc_pagination li {
        margin-left: 0;
    }

    .span_1_of_b {
        width: 100%;
    }

    .col_1_of_b {
        float: none;
        margin: 1% 0 5% 0%;
    }

    .button {
        margin-top: 10px;
    }

    .gallery1 li {
        width: 31.5%;
    }

    .slider {
        margin-bottom: 0;
    }

    .gallery li {
        width: 83%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    ul.dc_pagination li a {
        padding: 5px 10px 5px 10px;
    }

    .blog-poast-info ul li a {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .wrap {
        width: 90%;
    }

    .header-top {
        background: none;
    }

    ul.progress.vertical {
        margin-right: 14px;
    }

    span.left_line {
        width: 75px;
        bottom: 20px;
    }

    span.right_line {
        width: 75px;
        bottom: 20px;
    }

    .to input[type="text"] {
        width: 40.5%;
        padding: 9px 9px;
        font-size: 0.8125em;
    }

    .view {
        width: 200px;
        height: 245px;
    }

    .view .mask, .view .content {
        width: 200px;
        height: 245px;
    }

    .col_1_of_projects {
        float: left;
        margin: 1% 0 1% 0%;
    }

    h3.m_6 {
        width: 90%;
    }

    .footer-grid4 input[type="text"] {
        width: 68%;
    }

    .text input[type="text"], .text textarea {
        width: 90.9%;
        padding: 9px;
        font-size: 0.8125em;
    }

    .logo {
        width: 16.5%;
    }

    .nav li a {
        padding: 10px 20px 30px 20px;
    }

    h2.m_1 {
        font-size: 24px;
        width: 80%;
    }

    .form-control {
        width: 90%;
    }

    .desc p {
        font-size: 0.85em;
    }

    .m_3 {
        font-size: 15px;
        color: #fff;
    }

    .span_1_of_middle h3 {
        font-size: 1em;
    }

    .footer-grid4 input[type="submit"] {
        left: 205px;
    }

    ul.blog-list {
        width: 50%;
        float: left;
    }

    .header-top {
        background: none;
        padding: 10px 0 0 0;
    }

    .blog-poast-admin {
        bottom: 11em;
        left: 0.2em;
    }

    span.left_line1 {
        width: 90px;
        bottom: 14px;
    }

    span.right_line1 {
        width: 90px;
        bottom: 14px;
    }

    .m_contact {
        font-size: 0.9em;
        color: #000;
    }

    p.m_12 {
        font-size: 0.85em;
    }

    .wmuSliderPagination {
        bottom: 20px;
        left: 32%;
    }

    .logo {
        width: 60%;
        text-align: center;
        float: none;
        margin: 0 auto;
    }

    .toggleMenu {
        background: rgba(255, 255, 255, 0.22);
    }

    .nav li.active a, .nav li a:hover {
        border: none;
    }

    .desc h3 {
        font-size: 19px;
    }

    .span_1_of_4 img {
        width: 255px;
        padding-left: 35px;
    }

    .span_1_of_4:nth-child(2) img {
        padding-left: 40px;
    }

    ul.progress.vertical {
        width: 40px;
    }

    .span_1_of_projects {
        width: 85%;
    }

    h3.m_4 a {
        font-size: 0.85em;
    }

    .banner-text p {
        font-size: 0.85em;
    }

    i.settings {
        left: 32%;
    }

    i.clock {
        left: 35%;
    }

    i.aeroplane {
        left: 35%;
    }

    .btn a {
        padding: 12px 40px;
    }

    .cont1 {
        float: none;
    }

    .span_2_of_g1 {
        width: 100%;
    }

    .labout {
        float: none;
        margin: 0;
    }

    .span_1_of_g1 {
        width: 100%;
    }

    .project-list h4, .project-list1 h4, .project-list2 h4 {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .project-list1 {
        padding-top: 4%;
    }

    ul.dc_pagination {
        margin: 1% 0 8% 0;
    }

    ul.dc_pagination li a {
        font-size: 0.8125em;
    }

    .project-list2 {
        padding-top: 4%;
    }

    .btn1 a {
        font-size: 1em;
        padding: 12px 30px;
    }

    .recent-tweet-info {
        width: 86%;
    }

    .pages-top {
        background: none;
        padding: 15px 0;
    }

    .submit {
        padding: 12px 40px;
        font-size: 1em;
    }

    .span_1_of_4 {
        width: 95%;
    }

    .col_1_of_4 {
        float: none;
        margin: 10px 0 50px 0;
    }

    .desc {
        padding: 10px;
    }

    .span_1_of_middle {
        width: 100%;
    }

    .span_1_of_middle img {
        width: 60%;
    }

    .col_1_of_middle {
        float: none;
        margin: 1% 0 1% 0;
    }

    .btn {
        margin: 4% 0;
        width: 90%;
    }

    .footer-grid {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .f-logo {
        margin-bottom: 10px;
    }

    .footer-grid2 h4 {
        padding-bottom: 10px;
        font-size: 1em;
    }

    .footer-grid2 ul {
        margin-left: 0%;
    }

    #map {
        display: none;
        width: 95%;
        margin-right: 1%;
    }

    .footer-grid2 ul li {
        margin-bottom: 10px;
        width: 100%;
    }

    ul.dc_pagination li:first-child {
        margin-right: 0%;
    }

    ul.dc_pagination li {
        margin-left: 0;
    }

    .span_1_of_b {
        width: 100%;
    }

    .col_1_of_b {
        float: none;
        margin: 1% 0 5% 0%;
    }

    .button {
        margin-top: 10px;
    }

    .gallery1 li {
        width: 100%;
    }

    .slider {
        margin-bottom: 0;
    }

    .gallery li {
        width: 99%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    ul.dc_pagination li a {
        padding: 5px 10px 5px 10px;
    }

    .blog-poast-info ul li a {
        font-size: 12px;
    }

    .span_1_of_middle p {
        font-size: 0.8125em;
    }

    ul.progress.vertical {
        min-height: 230px;
    }

    .wmuSlider {
        padding: 0 0 20% 0;
    }

    .copy {
        float: none;
        margin-bottom: 10px;
    }

    .social {
        float: left;
        width: 100%;
        margin-top: 0px;
    }

    .social p {
        width: 90%;
        float: right;
    }

    .social ul {
        width: 90%;
    }

    .social li {
        margin-right: 15%;
    }

    .footer-bottom {
        text-align: center;
    }

    .blog-poast-admin img {
        width: 55%;
    }

    .blog-poast-info ul li {
        float: right;
    }

    .blog-poast-info {
        padding: 0.8em 1em 3em;
    }

    .span_1_of_b h3 a {
        font-size: 1em;
    }

    p.m_11 {
        display: none;
    }

    p.m_10 {
        font-size: 0.8125em;
    }

    body {
        background: url('../images/slider-img.png');
        background-size: 100% 25%;
        -webkit-background-size: 100% 25%;
        -moz-background-size: 100% 25%;
        -o-background-size: 100% 25%;
        /*background-repeat: no-repeat;*/
        background-attachment: fixed;
    }

}
