@font-face {
    font-family: 'We3-font';
    src: url(../fonts/Panton.otf);
}
@font-face {
    font-family: 'We3-font-bold';
    src: url(../fonts/Panton-Bold.otf);
}
@font-face {
    font-family: 'we3-font-semibold';
    src: url(../fonts/Panton-SemiBold.otf);
}
@font-face {
    font-family: 'We3-font-extralight';
    src: url(../fonts/Panton-ExtraLight.otf);
}
@font-face {
    font-family: 'We3-font-light';
    src: url(../fonts/Panton-Light.otf);
}

div.timeline-frame {
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

div.timeline-content {
    overflow: hidden;
    position: relative;
    height: 300px !important;
}

div.timeline-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-top-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-axis-grid {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-axis-grid-minor {
    border-color: #e5e5e5;
}

div.timeline-axis-grid-major {
    border-color: #bfbfbf;
}

div.timeline-axis-text {
    color: #4d4d4d;
    padding: 3px;
    white-space: nowrap;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {
    -moz-box-sizing: border-box;
    background-color: #f37021;
    border-color: #000;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    text-align: center;
      font-family: "We3-font";
  font-size: 15px;
}

div.timeline-event-selected {
    background-color: #F38921;
    border-color: #ffc200;
    z-index: 999;
}

/* TODO: use another color or pattern? */
div.timeline-event-cluster {
    background: url('img/cluster_bg.png') #97b0f8;
    color: #ffffff;
}

div.timeline-event-cluster div.timeline-event-dot {
    border-color: #d5ddf6;
}

div.timeline-event-box {
    -moz-border-radius: 12px; /* For Firefox 3.6 and older */
  border-radius: 12px;
  border-style: solid;
  border-width: 0px;
  text-align: center;
}

div.timeline-event-dot {
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

div.timeline-event-range {
    -moz-border-radius: 20px; /* For Firefox 3.6 and older */
  border-radius: 20px;
  border-style: solid;
  border-width: 0px;
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

div.timeline-event-line {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-left-width: 1px;
    box-sizing: border-box;
}

div.timeline-event-content {
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
}

div.timeline-groups-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-groups-axis-onleft {
    border-style: none solid none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none solid;
}

div.timeline-groups-text {
    color: #4d4d4d;
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    -moz-box-sizing: border-box;
    background-color: #ff7f6e;
    box-sizing: border-box;
    width: 2px;
}

div.timeline-customtime {
    -moz-box-sizing: border-box;
    background-color: #6e94ff;
    box-sizing: border-box;
    cursor: move;
    width: 2px;
}

div.timeline-navigation {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    -moz-box-sizing: border-box;
    background-color: #f5f5f5;
    border: 1px solid #bebebe;
    border-radius: 2px;
    box-sizing: border-box;
    color: #808080;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}

div.timeline-navigation-new,
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in,
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 36px;
    padding: 10px;
    text-decoration: none;
    width: 36px;
}

div.timeline-navigation-new {
    background: url('img/16/new.png') no-repeat center;
}

/* separator between new and navigation buttons */
div.timeline-navigation-new-line {
    border-right: 1px solid #bebebe;
}

div.timeline-navigation-delete {
    background: url('img/16/delete.png') no-repeat center;
}

div.timeline-navigation-zoom-in {
    background: url('img/16/zoomin.png') no-repeat center;
}

div.timeline-navigation-zoom-out {
    background: url('img/16/zoomout.png') no-repeat center;
}

div.timeline-navigation-move-left {
    background: url('img/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
    background: url('img/16/moveright.png') no-repeat center;
}

div.timeline-frame {
    position: relative;
    overflow: hidden;
}

div.timeline-content {
    position: relative;
    overflow: hidden;
}

div.timeline-axis {
    filter: alpha(opacity = 60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    border-width: 1px;
    border-top-style: solid;
}

div.timeline-axis-grid {
    border-left-style: solid;
    border-width: 1px;
}

div.timeline-axis-grid-minor {
    filter: alpha(opacity = 30);
    -khtml-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
}

div.timeline-axis-grid-major {
    filter: alpha(opacity = 50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

div.timeline-axis-text {
    padding: 3px;
    white-space: nowrap;
}

div.timeline-event {
    display: inline-block;
}

div.timeline-event-selected {
    z-index: 999;
}

div.timeline-event.timeline-event-box {
    text-align: center;
    border-style: solid;
  border-width: 0px;
  border-radius: 20px;
    -moz-border-radius: 20px; /* For Firefox 3.6 and older */
     -webkit-border-radius: 20px;
}

div.timeline-event.timeline-event-dot {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event.timeline-event-range {
    border-style: solid;
    border-width: 0px;
  border-radius: 50px;
    -moz-border-radius: 50px; /* For Firefox 3.6 and older */
    -webkit-border-radius: 50px;
}

div.timeline-frame div.timeline-event-dot-container {
    border: none;
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

div.timeline-event-line {
    border-left-width: 1px;
    border-left-style: solid;
}

div.timeline-event-content {
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}

div.timeline-groups-axis {
    border-width: 1px;
}

div.timeline-groups-axis-onleft {
    border-style: none groove none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none groove;
}

div.timeline-groups-text {
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    background-color: #FF7F6E;
    width: 2px;
}

div.timeline-customtime {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
}

div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {
    cursor: pointer;
    float: left;
    padding: 5px;
    text-decoration: none;
}

div.timeline-navigation-new-line {
    border-right: dotted 1px;
}

div.timeline-navigation-delete {
    padding: 0 0 0 5px;
    background: url('img/deleteEvent.png') no-repeat center;
    width: 13px;
    height: 13px;
}

div.timeline-selectable div.timeline-event {
    cursor: pointer;
}

div.timeline-selectable div.timeline-event-content {
    cursor: pointer;
}

div.timeline-event-selected div.timeline-event-content {
    cursor: move;
}