/* CSS crunched with Crunch - http://crunchapp.net/ */

@charset "utf-8";
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #195860;
}
a:focus {
    outline: none;
}
a:hover {
    color: #ef3f6b;
}

body,
html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #FFF;
    height: 100%;
    min-height: 100%;
    margin: 0;
    color: #5C5C5C;
    font-size: 20px;
}
.vco-storyjs .vco-feature h1, .vco-storyjs .vco-feature h2, .vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6
{
 color: #195860 !important;   
}
h1,
h2,
h3 {
    font-weight: 900;
     color: #195860 !important;
}
h1 {
    font-size: 45px;
}
h1,
h2,
h3 {
    text-transform: uppercase;
}
h4,
h5,
h6 {
    font-weight: 600;
    color: #ef3f6b;
}
h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
html.cssanimations .onscroll-animate {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
}
html.cssanimations .onscroll-animate.graph-anim {
    opacity: 1;
}
i:hover {
    text-decoration: none;
}
input,
textarea {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
input[type=submit],
textarea[type=submit] {
    padding: 25px;
    font-size: 18px;
    width: auto;
    text-transform: uppercase;
    color: #FFF;
    background-color: #3cc6e7;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input:focus,
textarea:focus {
    outline: none;
}
textarea {
    resize: none;
}
.list-unstyled {     position: relative;
    top: -35px; }
#all {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
}
#content {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
#content.slide-right {
    padding-left: 325px;
}
.navbar-default {
	padding-top: 34px !important;
}
.navbar-default .navbar-nav>li>a {
	margin-right: 20px !important;
}
.navbar-default .navbar-nav>li>a:active {
	  background: url(../images/weedots.png) no-repeat 0;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	  background: url(../images/weedots.png) no-repeat 0;
	
}
#footer {
    font-size: 115%;
    background-color: #22252C;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}

footer p {
    color: #888;
}

#footer a {
    color: #777;
}

#footer .copyright {
    font-size: 16px;
    color: #AFB3BD;
    background-color: #1C1F26;
    padding: 40px;
    margin-top: 65px;
}
#footer .social-icon {
    color: #77797E;
    margin: 8px;
}
#footer .social-icon:hover {
    color: #FFF;
}
#topmenu {
	height: 88px;
}
.offer #head{background: none;}
#head {
    
    min-height: 100%;
    font-size: 30px;
    color: #DDDFE5;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    background: url(../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
#head h1 {
    font-size: 450%;
    background-color: #FFF;
    display: inline-block;
    padding: 5px 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#head h2 {

    letter-spacing: 3px;
    font-family: Lato;
    color: #FFF !important;
    font-size: 150%;
    margin-top: 10px;
}
#head hr {
    border: none;
    background-color: #FFF;
    width: 100px;
    height: 1px;
    margin: 32px auto 26px auto;
}
#head p {
    font-size: 110%;
}
#head .head-container {

	
    
    
}
#head .head-container::after {
	
	
}
#head.head-void {
    height: 120px;
    min-height: 0;
    color: #ef3f6b;
    background-image: none;
    background-color: #FFF;
}
#header-static {
    position: relative;
    z-index: 9999;
    top: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#header-static.after-scroll {
    position: fixed;
    color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.87);
}
#header-static.after-scroll #main-logo1 {
    opacity: 0;
}
#header-static.after-scroll #main-logo2 {
    opacity: 1;
}
#header-static.slide-up {
    top: -110px;
}
#logo {
	
	width: 250px;
	top: 43px;
	z-index: 1;
	background: url('../images/logotype.png') no-repeat left top;
	height: 90px;
	position: absolute;
	left: 5%;
}
#main-menu-button,
#main-menu-close {
    cursor: pointer;
}
#main-menu-button {
    position: absolute;
    top: 38px;
    left: 40px;
}
#main-menu-container {
    position: fixed;
    top: 0;
    width: 325px;
    left: -325px;
    height: 100%;
    min-height: 100%;
    z-index: 9999;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
#main-menu-container.slide-in {
    left: 0;
}
#map-canvas {
    min-width: 100%;
    min-height: 100%;
}
#video-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}
#video-main.active {
    display: block;
}
#video-play-button {
    cursor: pointer;
}
.background-image {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.big-heading {
    font-size: 200%;
    margin: 60px 0;
    line-height: 1.5;
}
.bland-link {
    color: #808080;
}
.bland-link:hover {
    color: #ef3f6b;
    text-decoration: none;
}
.blog-post {
    font-size: 16px;
    text-align: center;
    background-color: #fff;
 
    margin-bottom: 50px;
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.blog-post h3 {
    font-size: 22px;
    text-transform: uppercase;
}
.blog-post .post-detail i,
.blog-post .post-detail .post-detail-name {
    color: #808080;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.blog-post .post-detail:hover a {
    text-decoration: none;
}
.blog-post .post-detail:hover i {
    color: #ef3f6b;
}
.blog-post .post-detail:hover .post-detail-name {
    color: #343434;
}
.blog-post .post-excerpt {
    padding: 65px 35px 23px 35px;
}
.blog-post .post-header {
    margin: 10px 10px 70px 10px;
}
.blog-post .post-image {
    position: relative;
    width: 100%;
    height: 100%;
}
.blog-post .post-image img {
    
}
.owl-item {
	width: 20% !important;
}
.blog-post .post-image:hover .image-detail {
    opacity: 1;
}
.post-excerpt p {
	
	color: #195860;
}
.blog-post .post-image .image-replacement {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 9999;
}
.blog-post .post-image .image-replacement.show {
    visibility: visible;
}
#slider-shadow {
  height: 100%;	
  background-color: rgba(47, 50, 50, 0.75);
  background-size: 100% 100%;
}
.blog-post:hover {
    border-color: #cfcfcf;
}
.box-icon-container {
    font-size: 16px;
    margin-top: 40px;
}
.box-icon-container .box-content {
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.box-icon-container .box-icon {
    font-size: 30px;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    margin-right: 30px;
    border: 2px #808080 solid;
    float: left;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.box-icon-container.active .box-content,
.box-icon-container:hover .box-content {
    color: #343434;
}
.box-icon-container.active .box-icon,
.box-icon-container:hover .box-icon {
    color: #ef3f6b;
    border-color: #ef3f6b;
}
.box-section {
    font-size: 16px;
    padding: 5px 25px;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.box-section h2,
.box-section h3 {
    margin-top: 10px;
    color: #808080;
    font-weight: 400;
    text-transform: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.box-section h2 i,
.box-section h3 i {
    font-size: 30px;
    padding-right: 6px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.box-section:hover {
    background-color: #F5F5F5;
}
.box-section:hover h2,
.box-section:hover h3 {
    color: #ef3f6b;
}
.box-section:hover h2 i,
.box-section:hover h3 i {
    color: #ef3f6b;
}
.button-gray {
    color: #FFF;
    font-weight: bold;
    background-color: #B4B4B4;
    padding: 14px 18px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.button-gray:hover {
    color: #FFF;
    background-color: #ef3f6b;
    text-decoration: none;
}
.button-standard {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 18px 38px;
    color: #FFF;
    background-color: #ef3f6b;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.button-standard:hover {
    text-decoration: none;
    color: #FFF;
}
.button-void {
    font-size: 16px;
    color: #ef3f6b;
    text-transform: uppercase;
    display: inline-block;
    border: 2px #ef3f6b solid;
    font-weight: bold;
    margin: 10px 0;
    padding: 11px 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.category-list-style {
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
}
.category-list-style .category-item {
    overflow: auto;
    position: relative;
    margin: 16px 0;
}
.category-list-style .category-item .category-name {
    float: left;
    padding: 5px 7px 5px 21px;
}
.category-list-style .category-item .category-value {
    padding: 5px 7px;
    float: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.category-list-style .category-item.active,
.category-list-style .category-item:hover {
    color: #ef3f6b;
}
.category-list-style .category-item.active .category-value,
.category-list-style .category-item:hover .category-value {
    color: #FFF;
    background-color: #ef3f6b;
}
.category-list-style .category-item:after {
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 5px;
    content: '\f061';
}
.comment {
    font-size: 16px;
    padding-top: 50px;
    overflow: auto;
}
.comment .comment-author {
    color: #343434;
    font-weight: 600;
}
.comment .comment-content {
    position: relative;
    padding-bottom: 45px;
    overflow: hidden;
}
.comment .comment-content:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 170px;
    background-color: #E7E5E5;
    content: '';
}
.comment .comment-details {
    font-size: 18px;
    margin-bottom: 18px;
}
.comment .comment-pic {
    width: 70px;
    float: left;
    margin-right: 30px;
}
.comment .comment-pic img {
    width: 100%;
}
.comment>.comment {
    padding-left: 100px;
}
.comment.last-comment .comment-content:after {
    display: none;
}
.container {
    max-width: 1170px;
}
.dark-color {
    color: #343434;
}
.delimiter-dashed-line {
    width: 170px;
    display: block;
    height: 2px;
    border-top: 2px #d7d6d6 dashed;
    margin: 25px 0;
}
.delimiter-inline {
    padding-left: 5px;
    padding-right: 5px;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
.filter-list,
.pagination-list,
.tag-list {
    font-size: 16px;
    margin: 0 0 50px 0;
    padding: 0;
    text-align: center;
    overflow: auto;
    display: inline-block;
}
.filter-list .filter-item,
.pagination-list .filter-item,
.tag-list .filter-item,
.filter-list .pagination-item,
.pagination-list .pagination-item,
.tag-list .pagination-item,
.filter-list .tag-item,
.pagination-list .tag-item,
.tag-list .tag-item {
    margin: 0 5px 10px 5px;
    float: left;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #F5F5F5;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.filter-list .filter-item.filter-active,
.pagination-list .filter-item.filter-active,
.tag-list .filter-item.filter-active,
.filter-list .pagination-item.filter-active,
.pagination-list .pagination-item.filter-active,
.tag-list .pagination-item.filter-active,
.filter-list .tag-item.filter-active,
.pagination-list .tag-item.filter-active,
.tag-list .tag-item.filter-active,
.filter-list .filter-item.pagination-active,
.pagination-list .filter-item.pagination-active,
.tag-list .filter-item.pagination-active,
.filter-list .pagination-item.pagination-active,
.pagination-list .pagination-item.pagination-active,
.tag-list .pagination-item.pagination-active,
.filter-list .tag-item.pagination-active,
.pagination-list .tag-item.pagination-active,
.tag-list .tag-item.pagination-active,
.filter-list .filter-item.tag-active,
.pagination-list .filter-item.tag-active,
.tag-list .filter-item.tag-active,
.filter-list .pagination-item.tag-active,
.pagination-list .pagination-item.tag-active,
.tag-list .pagination-item.tag-active,
.filter-list .tag-item.tag-active,
.pagination-list .tag-item.tag-active,
.tag-list .tag-item.tag-active,
.filter-list .filter-item:hover,
.pagination-list .filter-item:hover,
.tag-list .filter-item:hover,
.filter-list .pagination-item:hover,
.pagination-list .pagination-item:hover,
.tag-list .pagination-item:hover,
.filter-list .tag-item:hover,
.pagination-list .tag-item:hover,
.tag-list .tag-item:hover {
    background-color: #ef3f6b;
    color: #FFF;
}
.fixed-background {
    background-attachment: fixed;
}
.form-contact {
    font-size: 16px;
    color: #343434;
    
}
.form-contact input[type=text],
.form-contact textarea {
    border-bottom: 1px #B0B0B0 solid;
    border-left: 1px #b0b0b0 solid;
    padding: 2px 12px;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.form-contact input[type=text]:focus,
.form-contact textarea:focus {
    border-color: #ef3f6b;
}
.form-contact textarea {
    min-height: 228px;
}
.form-subscribe {
    max-width: 550px;
    margin: 0 auto;
}
.form-subscribe .form-content {
    background-color: #EAEAEA;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.form-subscribe .form-content input {
    padding: 25px;
}
.form-subscribe .form-content input[type=text] {
    padding-right: 225px;
}
.form-subscribe .form-content input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
}
input[type=submit]:hover {
    background-color: rgb(158, 227, 243);
    transition: all 1s ease;
}
.full-slider img {
    max-width: 100%;
}
.google-map {
    height: 630px;
}
.graph {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.graph i {
    font-size: 40px;
    line-height: 180px;
}
.graph .graph-left-half,
.graph .graph-right-half {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    overflow: hidden;
}
.graph .graph-left-half:after,
.graph .graph-right-half:after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 200%;
    border: 5px #FFF solid;
    border-radius: 50%;
    content: '';
}
.graph .graph-left-half {
    left: 0;
}
.graph .graph-left-half:after {
    left: 0;
}
.graph .graph-right-half {
    right: 0;
}
.graph .graph-right-half:after {
    right: 0;
}
.graph .graph-left-container,
.graph .graph-right-container {
    position: absolute;
    width: 200%;
    height: 100%;
}
.graph .graph-left-container {
    left: 0
}
.graph .graph-right-container {
    right: 0;
}
.graph .graph-left-side,
.graph .graph-right-side {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    overflow: hidden;
}
.graph .graph-left-side {
    left: 0;
}
.graph .graph-right-side {
    right: 0;
}
.graph.onscroll-animate.graph-anim .graph-left-container,
.graph .graph-left-container {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}
.graph.onscroll-animate.graph-anim .graph-right-container,
.graph .graph-right-container {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.graph .graph-value {
    font-size: 34px;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 1.1;
    font-weight: bold;
}
.graph.onscroll-animate .graph-left-container {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.graph.onscroll-animate .graph-right-container {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.margin-10 {
    height: 10px;
}
.margin-20 {
    height: 20px;
}
.margin-30 {
    height: 30px;
}
.margin-40 {
    height: 40px;
}
.margin-50 {
    height: 50px;
}
.margin-60 {
    height: 60px;
}
.margin-70 {
    height: 70px;
}
.margin-80 {
    height: 80px;
}
.margin-90 {
    height: 90px;
}
.bigsumm {
	font-size: 25px;
    margin-bottom: 80px;
  	text-align: center;
  	font-weight: bold;
}
.margin-100 {
    height: 100px;
}
.highlight-color {
    color: #ef3f6b;
}
.huge-heading {
    font-size: 240%;
}
.huge-heading:after {
    display: none;
}
.icon-button {
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block !important;
    text-align: center;
    color: #ef3f6b;
    background-color: #F5F5F5;
    margin: 1px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.icon-button:hover {
    color: #FFF;
    background-color: #ef3f6b;
}
.icon-button-big {
    width: 100px;
    height: 100px;
    display: inline-block !important;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    background-color: #ef3f6b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.icon-button-huge {
    color: #808080;
    font-size: 45px;
    width: 150px;
    height: 150px;
    display: inline-block !important;
    line-height: 150px;
    text-align: center;
    background-color: #FFF;
    position: relative;
    margin: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.icon-button-huge:after {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 174px;
    height: 174px;
    background-color: rgba(255, 255, 255, 0.33);
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.image-box {
    overflow: auto;
}
.image-box img {
    margin: 5px;
    float: left;
}
.image-detail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgba(25, 88, 96, 0.5);
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.image-detail .image-detail-content {
    display: table-cell;
    vertical-align: bottom;
}
#confirm-complaint {
    cursor: pointer;
}
.image-detail .image-detail-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.image-detail:hover {
    opacity: 1;
}
.main-menu.scroll {
    max-height: 300px;
    overflow-y: scroll;
}
.menu-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    color: #FFF;
    width: 50px;
    background-color: #1C1F26;
    height: 100%;
    padding-top: 40px;
    text-align: center;
}
.menu-container {
    height: 100%;
    min-height: 100%;
    background-color: #22252C;
    padding-top: 35px;
    margin-right: 50px;
    padding-bottom: 180px;
    position: relative;
}
.menu-container ul {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.menu-container ul li {
    text-transform: uppercase;
    border-bottom: 1px transparent solid;
    border-top: 1px transparent solid;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.menu-container ul li a {
    padding: 22px 40px;
    display: block;
    text-decoration: none;
    color: #FFF;
}
.menu-container ul li.active,
.menu-container ul li:hover {
    border-color: #303339;
    background-color: #272A31;
}
.menu-container .menu-bottom {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    display: table;
    color: #53555b;
}
.menu-container .menu-bottom a {
    color: #848589;
}
.menu-container .menu-bottom hr {
    width: 50px;
    height: 1px;
    border: none;
    margin: 24px auto;
    background-color: #53555b;
}
.menu-container .menu-bottom .menu-bottom-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.menu-container .menu-bottom .social-icon {
    color: #77797E;
    font-size: 26px;
    margin: 3px;
}
.menu-container .menu-bottom .social-icon:hover {
    color: #A4A5A9;
}
.ms-skin-light-6 .ms-bullets.ms-dir-h {
    bottom: 85px;
    right: 30%;
    z-index: 99;
}
.ms-skin-light-6 .ms-bullets.ms-dir-h .ms-bullet {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.ms-skin-light-6 .ms-bullets.ms-dir-h .ms-bullet.ms-bullet-selected:before {
    background-color: #ef3f6b;
}
.ms-skin-light-6 .ms-bullets.ms-dir-h .ms-bullet:after {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: '';
    border: 2px #FFF solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.ms-skin-light-6 .ms-bullets.ms-dir-h .ms-bullet:before {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    content: '';
    border-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.price {
	margin-bottom: 34px;
	color: black;
	font-weight: bold;
}

.subtotal {
	font-size: 23px;
	font-weight: bold;
}

#content2 {
  position: relative;
  
  min-height: 60% !important;
  width: 100%;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
.ms-layer {
    display: table;
    width: 100%;
    height: 100%;
}
.ms-layer .ms-layer-content {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 80px 10px 100px 10px;
}
.nav-tabs {
    font-size: 16px;
    border-bottom: none;
}
.nav-tabs>li {
    position: relative;
}
.nav-tabs>li>a {
    color: #808080;
    border-right: 1px #E9E8E6 solid;
    border-top: 1px #E9E8E6 solid;
    margin: 0;
}
.nav-tabs>li.active {
    background-color: #FFF;
    color: #343434;
    margin: 0;
    overflow: hidden;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-color: transparent;
    border-right: 1px #E9E8E6 solid;
    border-top: 1px #E9E8E6 solid;
}
.nav-tabs>li.active:after {
    position: absolute;
    height: 3px;
    width: 110%;
    bottom: -1px;
    left: -1px;
    background-color: #ef3f6b;
    content: '';
}
.nav-tabs>li.active:before {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
    border-left: 5px #ef3f6b solid;
    border-bottom: 5px #ef3f6b solid;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-tabs>li:first-of-type {
    border-left: 1px #E9E8E6 solid
}
.owl-carousel.pagination-inside .owl-pagination {
    position: absolute;
    bottom: 65px;
    width: 100%;
}
.owl-carousel.pagination-inside .owl-pagination .owl-page:after {
    border-color: #FFF;
}
.owl-carousel.arrows-container-style .owl-item>img {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
}
.owl-carousel.arrows-container-style .owl-next,
.owl-carousel.arrows-container-style .owl-prev {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.owl-carousel.arrows-container-style .owl-next:hover,
.owl-carousel.arrows-container-style .owl-prev:hover {
    background-color: rgba(239, 63, 107, 0.6);
}
.owl-carousel.arrows-container-style .owl-next:hover:after,
.owl-carousel.arrows-container-style .owl-prev:hover:after {
    border-color: #FFF;
}
.owl-carousel.arrows-container-style .owl-next {
    right: 0;
}
.owl-carousel.arrows-container-style .owl-prev {
    left: 0;
}
.owl-next,
.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 60px;
}
.owl-next:after,
.owl-prev:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    border-left: 3px #bcbdbf solid;
    border-bottom: 3px #bcbdbf solid;
    content: '';
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.owl-next:hover:after,
.owl-prev:hover:after {
    border-color: #343434;
}
.owl-next {
    right: 20px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.owl-next:after {
    margin-left: -12px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
#mobilenav {
	display: none;
}
#angletext {
    /*writing-mode: lr-tb;*/
    font-family: Lato;
      color: #195860;
      }  
.client {
text-align: left;
  margin-left: 4%;

}
.client span:nth-child(odd) {
    padding-right: 100px;
    font-weight: 400;
}

.client .company span {
    padding-right: 5px;
}

.client .name span {
    padding-right: 88px;
}

.owl-prev {
    left: 20px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.owl-prev:after {
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.owl-pagination {
    text-align: center;
    position: relative;
    z-index: 99;
}
.owl-pagination .owl-page {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 40px 9px 15px 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.owl-pagination .owl-page.active {
    background-color: #ef3f6b;
}
.owl-pagination .owl-page:after {
    position: absolute;
    width: 18px;
    height: 18px;
    top: -4px;
    left: -4px;
    content: '';
    border: 2px #808080 solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.parallax-background {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    -webkit-background-size: auto !important;
    -moz-background-size: auto !important;
    -o-background-size: auto !important;
    background-size: auto !important;
    
}
.post {
    font-size: 18px;
    border-bottom: 2px #E7E5E5 solid;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.post .button-standard {
    background-color: #808080;
}
.post .post-content {
    margin-bottom: 30px;
}
.post .post-detail {
    font-size: 16px;
}
.post .post-detail i,
.post .post-detail .post-detail-name {
    color: #808080;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.post .post-detail:hover a {
    text-decoration: none;
}
.post .post-detail:hover i {
    color: #ef3f6b;
}
.post .post-detail:hover .post-detail-name {
    color: #343434;
}
.post .post-image {
    position: relative;
}
.post .post-image img {
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.post .post-image .image-detail {
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.post .post-image .image-detail-content {
    text-align: center;
    vertical-align: middle;
}
.post .post-image-replacement {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.post .post-image-replacement.show {
    display: block;
}
.post .post-title {
    font-size: 33px;
    color: inherit;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.post .post-title-light {
    font-size: 40px;
    color: #343434;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 20px;
}
.post:hover .button-standard {
    background-color: #ef3f6b;
}
.post:hover .post-title {
    color: #ef3f6b;
}
.post-small {
    font-size: 14px;
}
.post-small a:hover {
    color: #808080;
}
.post-small .image-detail {
    background-color: rgba(255, 255, 255, 0.9)
}
.post-small .image-detail .image-detail-content {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.post-small .post-image {
    position: relative;
}
.post-small .post-image img {
    width: 100%;
}
.post-small .post-image:hover .image-detail {
    opacity: 1;
}
.post-small .post-small-heading {
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    color: #808080;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.post-small:hover .post-small-heading {
    color: #ef3f6b;
}
.profile {
    text-align: center;
    margin-bottom: 55px;
}
.profile h3 a {
    color: #808080;
}
.profile h3 a:hover {
    color: #ef3f6b;
    text-decoration: none;
}
.profile .profile-photo {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.profile .profile-photo img {
    width: 100%;
    max-width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}
.profile .profile-photo .image-detail {
    padding: 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.profile .profile-photo:hover .image-detail {
    opacity: 1;
}
.return-msg {
    font-size: 16px;
    display: none;
    opacity: 0;
    margin: 10px 0;
}
.return-msg.show-return-msg {
    display: block;
    opacity: 1;
}
#team h1 {
	  
	color: #195860;
}
.scroll-top-button {
    position: absolute;
    bottom: -15px;
    right: 250px;
    width: 76px;
    height: 76px;
    line-height: 76px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    background-color: #3cc6e7;
    opacity: 0.5;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.scroll-top-button:hover {
    opacity: 1;
}
.search-container {
    position: relative;
    font-size: 16px;
    border: 1px #E9E8E6 solid;
    background-color: #FFF;
    padding: 8px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.search-container:after {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    right: 18px;
    width: 15px;
    height: 100%;
    content: "\f002";
    padding: inherit;
}
.section-content {
    background-color: #fff;
    position: relative;
}
.section-content>.container {
    padding-top: 50px;
}

.devices {
	
}
.section-content .header {
    text-align: center;
    font-size: 120%;
    margin-bottom: 20px;
}
.section-content .header h1 {
 
    position: relative;
    padding-bottom: 32px;
    margin-bottom: 30px;
}
.section-content .header h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 170px;
    height: 1px;
    content: '';
}
.section-content .header i.header-icon {
    font-size: 50px;
    color: #FFF;
    height: 100px;
    width: 100px;
    line-height: 100px;
    display: inline-block !important;
    background-color: #ef3f6b;
    margin: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.section-content .header.center {
    text-align: center;
}
.section-content .header.center h1:after {
    left: 50%;
    margin-left: -85px;
}
.section-content .header.right {
    text-align: center;
}
.section-content .header.right h1:after {
    left: auto;
    right: 0;
}
.section-content.section-color {
    color: #FFF;
    background-color: #195860;
    }
.section-content.section-color h1,
.section-content.section-color h2,
.section-content.section-color h3,
.section-content.section-color h4,
.section-content.section-color h5,
.section-content.section-color h6 {
    color: #FFF !important;
}
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.section-content.section-dark {
    background-color: #F5F5F5;
}
.section-content.section-dark hr {
    height: 2px;
    background-color: #E7E5E5;
    border: none;
}
.section-content.section-dark .header:after {
    border-color: #D2D1D1;
}
.section-content.section-dark .filter-list .filter-item,
.section-content.section-dark .pagination-list .filter-item,
.section-content.section-dark .tag-list .filter-item,
.section-content.section-dark .filter-list .pagination-item,
.section-content.section-dark .pagination-list .pagination-item,
.section-content.section-dark .tag-list .pagination-item,
.section-content.section-dark .filter-list .tag-item,
.section-content.section-dark .pagination-list .tag-item,
.section-content.section-dark .tag-list .tag-item {
    background-color: #E6E6E6;
}
.section-content.section-dark .filter-list .filter-item.filter-active,
.section-content.section-dark .pagination-list .filter-item.filter-active,
.section-content.section-dark .tag-list .filter-item.filter-active,
.section-content.section-dark .filter-list .pagination-item.filter-active,
.section-content.section-dark .pagination-list .pagination-item.filter-active,
.section-content.section-dark .tag-list .pagination-item.filter-active,
.section-content.section-dark .filter-list .tag-item.filter-active,
.section-content.section-dark .pagination-list .tag-item.filter-active,
.section-content.section-dark .tag-list .tag-item.filter-active,
.section-content.section-dark .filter-list .filter-item.pagination-active,
.section-content.section-dark .pagination-list .filter-item.pagination-active,
.section-content.section-dark .tag-list .filter-item.pagination-active,
.section-content.section-dark .filter-list .pagination-item.pagination-active,
.section-content.section-dark .pagination-list .pagination-item.pagination-active,
.section-content.section-dark .tag-list .pagination-item.pagination-active,
.section-content.section-dark .filter-list .tag-item.pagination-active,
.section-content.section-dark .pagination-list .tag-item.pagination-active,
.section-content.section-dark .tag-list .tag-item.pagination-active,
.section-content.section-dark .filter-list .filter-item.tag-active,
.section-content.section-dark .pagination-list .filter-item.tag-active,
.section-content.section-dark .tag-list .filter-item.tag-active,
.section-content.section-dark .filter-list .pagination-item.tag-active,
.section-content.section-dark .pagination-list .pagination-item.tag-active,
.section-content.section-dark .tag-list .pagination-item.tag-active,
.section-content.section-dark .filter-list .tag-item.tag-active,
.section-content.section-dark .pagination-list .tag-item.tag-active,
.section-content.section-dark .tag-list .tag-item.tag-active,
.section-content.section-dark .filter-list .filter-item:hover,
.section-content.section-dark .pagination-list .filter-item:hover,
.section-content.section-dark .tag-list .filter-item:hover,
.section-content.section-dark .filter-list .pagination-item:hover,
.section-content.section-dark .pagination-list .pagination-item:hover,
.section-content.section-dark .tag-list .pagination-item:hover,
.section-content.section-dark .filter-list .tag-item:hover,
.section-content.section-dark .pagination-list .tag-item:hover,
.section-content.section-dark .tag-list .tag-item:hover {
    background-color: #ef3f6b;
}
.section-content.section-image-dark,
.section-content.section-image-light {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#content header.header.right {
 text-align: center;   
}
.section-content.section-image-dark:after,
.section-content.section-image-light:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
}
.section-content.section-image-dark>.container,
.section-content.section-image-light>.container {
    position: relative;
    z-index: 1;
}
.section-content.section-image-dark {
    color: #FFF;
}
.section-content.section-image-dark h1,
.section-content.section-image-dark h2,
.section-content.section-image-dark h3,
.section-content.section-image-dark h4,
.section-content.section-image-dark h5,
.section-content.section-image-dark h6 {
    color: #FFF;
}
.section-content.section-image-dark:after {
    background-color: rgba(0, 0, 0, 0.55);
}
.section-content.section-image-dark .owl-pagination .owl-page:after {
    border-color: #FFF;
}
.section-content.section-image-light:after {
    background-color: #fff;
}
.skew-bottom-left,
.skew-bottom-right,
.skew-top-left,
.skew-top-right {
    position: absolute;
    left: -10%;
    width: 120%;
    height: 170px;
    z-index: 20;
    background-color: #fff;
    content: '';
    overflow: hidden;
}
.skew-bottom-left.skew-edged:after,
.skew-bottom-right.skew-edged:after,
.skew-top-left.skew-edged:after,
.skew-top-right.skew-edged:after,
.skew-bottom-left.skew-edged-small:after,
.skew-bottom-right.skew-edged-small:after,
.skew-top-left.skew-edged-small:after,
.skew-top-right.skew-edged-small:after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #ef3f6b;
}
.skew-bottom-left,
.skew-bottom-right {
    bottom: -85px;
    background-color: #54d0ed;
}
.skew-bottom-left.skew-small,
.skew-bottom-right.skew-small {
    bottom: -135px;
}
.skew-bottom-left.skew-tiny,
.skew-bottom-right.skew-tiny {
    bottom: -185px;
}
.skew-bottom-left.skew-edged:after,
.skew-bottom-right.skew-edged:after {
    top: -275px;
}
.skew-bottom-left.skew-edged-small:after,
.skew-bottom-right.skew-edged-small:after {
    top: -310px;
}
.skew-bottom-left,
.skew-top-left {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.skew-bottom-left.skew-edged:after,
.skew-top-left.skew-edged:after,
.skew-bottom-left.skew-edged-small:after,
.skew-top-left.skew-edged-small:after {
    left: 0;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
.skew-bottom-right,
.skew-top-right {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}
.skew-bottom-right.skew-edged:after,
.skew-top-right.skew-edged:after,
.skew-bottom-right.skew-edged-small:after,
.skew-top-right.skew-edged-small:after {
    right: 0;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.skew-color-2,
.skew-edged.skew-edge-color-2:after,
.skew-edged-small.skew-edge-color-2:after {
    background-color: #F5F5F5;
}
.skew-color-3,
.skew-edged.skew-edge-color-3:after,
.skew-edged-small.skew-edge-color-3:after {
    background-color: #ef3f6b;
}
.skew-container {
    position: relative;
    height: 130px;
}
.skew-line {
    position: absolute;
    overflow: hidden;
    height: 170px;
    width: 100%;
    left: 0;
    top: 0;
}
.skew-line.bottom-top {
    top: auto;
    bottom: 0;
}
.skew-top-left,
.skew-top-right {
    top: -85px;
}
.skew-top-left.skew-small,
.skew-top-right.skew-small {
    top: -135px;
}
.skew-top-left.skew-tiny,
.skew-top-right.skew-tiny {
    top: -185px;
}
.skew-top-left.skew-edged:after,
.skew-top-right.skew-edged:after {
    bottom: -275px;
}
.skew-top-left.skew-edged-small:after,
.skew-top-right.skew-edged-small:after {
    bottom: -310px;
}
.small-letters {
    text-transform: none;
}
.social-icon {
    color: #BCBDBF;
    text-decoration: none;
    font-size: 34px;
    margin: 4px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.social-icon:hover {
    color: #ef3f6b;
}
.stronger {
    font-weight: 400
}
.tab-content {
    border: 1px #E9E8E6 solid;
    padding: 20px;
}
.table-box {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.table-box .table-box-body {
    font-size: 16px;
    border: 1px #e8e8e8 solid;
    position: relative;
    margin-top: 82px;
    padding-top: 85px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.table-box .table-box-body .table-box-value {
    position: absolute;
    width: 136px;
    height: 126px;
    top: -63px;
    left: 50%;
    margin-left: -68px;
    padding: 8px;
    display: table;
    font-size: 30px;
    background-color: #FFF;
    color: #FFF;
    text-transform: none;
    line-height: 1;
    font-weight: bold;
}
.table-box .table-box-body .table-box-value .table-box-value-datail {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}
.table-box .table-box-body .table-box-value .table-box-value-content {
    background-color: #B4B4B4;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.table-box .table-box-button {
    margin: 30px 0;
}
.table-box .table-box-line {
    margin: 0;
    padding: 20px;
}
.table-box .table-box-line:nth-child(2n) {
    background-color: #F7F7F7;
}

.vco-timeline .vco-navigation .timenav-background .timenav-tag div h3 {
	display:  none !important;
}
.vco-timeline .vco-navigation .timenav-background .timenav-line,
.vco-timeline .vco-navigation .timenav .content .marker.active .line .event-line,
.vco-timeline .vco-navigation .timenav .content .marker .line .event-line,
.vco-timeline .vco-navigation .timenav .content .marker.active .dot,
.vco-timeline .vco-navigation .timenav .content .marker.active .line{
    background-color: #195860 !important;
}
.table-box .table-box-name {
    font-size: 30px;
    color: #343434;
}
.table-box:hover .table-box-body {
    border-color: #cfcfcf;
}
.table-box:hover .table-box-body .table-box-button .button-standard,
.table-box:hover .table-box-body .table-box-value-content {
    background-color: #ef3f6b;
}
.testimonial {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}
.testimonial .testimonial-author {
    font-size: 120%;
    font-weight: bold;
    position: relative;
    padding: 0 20px;
    display: inline-block;
    text-transform: uppercase;
}
.testimonial .testimonial-author:after,
.testimonial .testimonial-author:before {
    height: 100%;
    position: absolute;
    top: 0;
    content: '~';
}
.testimonial .testimonial-author:after {
    right: 0;
}
.testimonial .testimonial-author:before {
    left: 0;
}
.testimonial .testimonial-content {
    font-size: 190%;
}
.testimonial .testimonial-detail {
    font-size: 90%;
}
.text-bigger {
    font-size: 120%;
}
.text-highlight {
    color: #ef3f6b;
}
.text-huge {
    font-size: 230%;
    margin-top: 45px;
    margin-bottom: 45px;
}
.text-smaller {
    font-size: 16px;
}
.video-container {
    position: relative;
}
.video-container img {
    width: 100%;
}
.video-frame {
    height: 100%;
    width: 100%;
}
.video-pc-container {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.video-pc-container img {
    width: 100%;
}
.video-pc-container .video-pc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: auto;
    margin: 20px;
    visibility: hidden;
}
.video-pc-container .video-pc.show {
    visibility: visible;
}

#portfolio .section-content {
    background-color:#54d0ed;
    margin-top: -1px;
}

#video-section .skew-top-right {
   background-color:#54d0ed;    
}
.work {
    font-size: 16px;
    text-align: center;
    margin: 0 0 40px 0;
}
.work h3 {
    font-weight: 400;
    color: #343434;
    font-size: 22px;
    text-transform: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.work .work-preview {
    position: relative;
    display: inline-block
}
.work .work-preview img {
    width: 100%;
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.work .work-preview .image-detail {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.vco-timeline .vco-navigation .vco-toolbar {
	display: none;
}
#skewindex {
	  z-index: 1;
}
.vco-timeline .vco-navigation .timenav .content .era1 div {
	background: none !important;
}
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-1, .vco-timeline .vco-navigation .timenav-background .timenav-tag-row-3, .vco-timeline .vco-navigation .timenav-background .timenav-tag-row-5 {
	background-color: #fff !important;
}
.vco-timeline .vco-navigation .timenav-background {
	 background-color: #fff !important;
}
#backwards {
	z-index: 2;
	top: -223px !important;
	position: relative !important;
	overflow: hidden;
}
#bg_pattern { 
background-image: url(../images/slicendice.png); 
position: fixed; 
 /* opacity: 0.6; */ 
left: 0px; 
top: 0px; 
width: 100%; 
height: 100%; 

}
.middlinput {
	width: 500px;
	  margin: 0 auto;
}
.text-right input {
	text-align: center !important;
}

.modal-backdrop.fade.in {
    z-index: 999;

}
.modal {
	top: 35%;
}
#angletext2 {
	
	position: absolute;
	z-index: 2;
	width: 900px;
	margin-left: 6%;
	top: 12px;
	color: #ffffff;
	
}
/*#bg_pattern2 {
background-image: url(../images/home-skew.png); 
position: fixed; 
opacity: 0.6; 
left: 0px; 
top: 0px; 
width: 100%; 
height: 100%; 

}*/
#team .section-content {
	background: #fff !important;
}
.work .work-preview .image-detail-content {
    vertical-align: middle;
}
.work:hover h3 {
    color: #ef3f6b;
}
.work:hover .image-detail {
    opacity: 1;
}
.works {
    text-align: center;
}
.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%}

    .video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    }

.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    }
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@media (max-width:860px) {
    .full-slider .owl-buttons {
        display: none
    }
    #angletext2 {
    	 position: absolute;
    	 z-index: 2;
    	 width: 600px;
    	 margin-left: 3%;
    	 top: -28px;
    	 color: #ffffff;
    	 font-size: 12px;
    }
    #backwards {
    	display: none;
    }
    	.navbar-nav {
    	position: relative;
            width: 97%;
            margin: 0 auto;
            background: none;
            top: 0px;
            margin-left: 3%;
    	}
    
    .navbar-nav>li>a {
    	font-size: 26px !important;
    }
    .navbar-default {
      padding-top: 114px !important;
    	left: 0;
      
    }
    #head h2 {
      display: none;
    }
    
}
@media (max-width:1199px) {

    #angletext2 {
    	 position: absolute;
    	 z-index: 2;
    	 width: 600px;
    	 margin-left: 14%;
    	 top: -28px;
    	 color: #ffffff;
    	 font-size: 16px;
    }
    .container.works {
        padding-bottom: 30px;
    }
    #backwards {
    	display: none;
    }
}

@media (max-width:992px) {

    #angletext2 {
    	 position: absolute;
    	 z-index: 2;
    	 width: 600px;
    	 margin-left: 6%;
    	 top: -28px;
    	 color: #ffffff;
    	 font-size: 15px;
    }
    .container.works {
        padding-bottom: 20px;
    }
    #backwards {
    	display: none;
    }
}
@media (max-width:980px) {
    .offer .navbar-default {display: none;}
    .navbar-default {
        width:80%;
        display:block;
        position:absolute;
        top:60px;
        left:20%;
    }
    #head h2{margin-top: 80px;}
}

@media (max-width:600px)  {
	#map {
		display: none;
	}
    #angletext2 {
    	   position: relative;
    	   z-index: 2;
    	   width: 100%;
    	   margin-left: 0;
    	   top: -45px;
    	   color: #ffffff;
    	   font-size: 14px;
    }
    #backwards {
    	display: none;
    }
    .section-content>.container {
      padding-top: 100px;
    }
        #device-section .container img {
    	position: relative !important;
    	top: -12px !important;
    }
    
    	.navbar-nav {
    	top: 0px;
    	 position: relative;
    	  width: 100%;
    	  background: none;
    	}

    
    .navbar-nav>li>a {
    	font-size: 26px !important;
    }
    .navbar-nav {
    
      
    	left: 0;
      
    }
    #head h2 {
      display: none;
    }
    
}

@media (max-width: 768px) {
    #map{
        height: 250px;
    }
    .navbar-default {
        width: 100%;
        left: 0;
        top: 0;
    }
    .skew-bottom-left, .skew-bottom-right {
        bottom: -65px;
    }
    #angletext2 {
        width: 85%;
        margin-left: 5%;
    }
    .client span:nth-child(odd) {
        width: 100%;
        display: block;
    }
}

@media (max-width:800px) {
    #content.slide-right {
        padding-left: 0;
    }
    #main-menu-container {
        left: -100%;
        width: 100%;
    }
    .navbar-nav {
    	
    }
    
}
@media (max-width:750px) {
    body,
    html {
        font-size: 18px;
    }
    #head h1 {
        font-size: 60px;
    }
    #head h2 {
        font-size: 30px;
    }
    #head p {
        font-size: 18px;
    }
    .navbar-nav {
    	
    }
}



@media (max-width: 600px){
    section#portfolio {
        margin-top: -78px;
    }
}
@media (max-width: 540px) {
    .skew-bottom-left, .skew-bottom-right {
        bottom: -70px;
    }
}
@media (max-width: 480px){
    .navbar-nav {
        top: 0px;
        margin-left: 10px;
    }
    .navbar-default {
        top: 60px;
    }
}
@media (max-width: 320px){
    section#portfolio {
        margin-top: -70px;
    }
    .skew-bottom-left, .skew-bottom-right {
        bottom: -85px;
    }

}
.form-contact input[type=email], .form-contact textarea, .form-contact input[type=number] {
    border-bottom: 1px #B0B0B0 solid;
    border-left: 1px #b0b0b0 solid;
    padding: 2px 12px;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


